<div class="header">
    <header>
        OPERATIONS PLAN: MAINTENANCE REQUIREMENTS (i.e. REPAIRS)
    </header>
</div>
<br>

<div class="ui-g ui-fluid">
    <form [formGroup]="operationPlanForm">        
        <p-table [value]="tableRowArray.controls" [responsive]="true">
        <ng-template pTemplate="header">
            <tr>
                <th>District</th>               
                <th>Town</th>
                <th>Local Municipality</th>
                <th>Asset Description</th>
                <th>Repair Description</th>
                <th>YEAR <br> <small>in which initial request was submitted</small></th>
                <th style="width: 200px;">Prioity / Service Reanking</th>
                <th>Total Amount Required</th>
                <th>Cash Flow <br><small>(MTEF YR 1)</small></th>
                <th>Cash Flow <br><small>(MTEF YR 2)</small></th>
                <th>Cash Flow <br><small>(MTEF YR 3)</small></th>
                <th>Cash Flow <br><small>(MTEF YR 4)</small></th>
                <th>Cash Flow <br><small>(MTEF YR 5)</small></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
            <ng-container formArrayName="tableRowArray">
                <tr [formGroupName]="rowIndex" *ngFor="let property of properties; let i = index">
                    <td>{{property.land.geographicalLocation.districtMunicipality}}</td>
                    <td>{{property.land.geographicalLocation.town}}</td>
                    <td>{{property.land.geographicalLocation.localAuthority}}</td>
                    <td>{{property.name}}</td>
                    <td><input formControlName="repairDescription" autocomplete="off" type="text" pInputText class="ui-inputtext ui-widget"></td>
                    <td><p-inputNumber formControlName="initialNeedYear"></p-inputNumber></td>
                    <td><p-dropdown placeholder="Please select" inputId="prioity" [options]="prioities" formControlName="prioity" optionLabel="name"></p-dropdown></td>
                    <td><p-inputNumber [(ngModel)]="property.totalAmountRequired" [ngModelOptions]="{standalone: true}" formControlName="totalAmountRequired" mode="currency" currency="ZAR" locale="en-ZA"></p-inputNumber></td>
                    <td><p-inputNumber formControlName="cashFlowYear1" mode="currency" currency="ZAR" locale="en-ZA"></p-inputNumber></td>
                    <td><p-inputNumber formControlName="cashFlowYear2" mode="currency" currency="ZAR" locale="en-ZA"></p-inputNumber></td>
                    <td><p-inputNumber formControlName="cashFlowYear3" mode="currency" currency="ZAR" locale="en-ZA"></p-inputNumber></td>
                    <td><p-inputNumber formControlName="cashFlowYear4" mode="currency" currency="ZAR" locale="en-ZA"></p-inputNumber></td>
                    <td><p-inputNumber formControlName="cashFlowYear5" mode="currency" currency="ZAR" locale="en-ZA"></p-inputNumber></td>
                </tr>
            </ng-container>
        </ng-template>
    </p-table>
</form>
</div>