<p-table [value]="[{}]">
    <ng-template pTemplate="header">
        <tr>
            <th>Province</th>
            <th>Town</th>
            <th>Unique Identifying Code</th>
            <th>Possible non-asset solutions</th>
            <th>Common Asset Description</th>
            <th>Current Use</th>
            <th>Required Performance Standard</th>
            <th>Accessiblity Rating</th>
            <th>Suitability Index</th>
            <th>Condition Rating</th>
            <th>Operating Performance Index</th>
            <th>Functional Performance Rating</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData>
        <tr *ngFor="let assetPerformance of assetsFunctionalPerformances">
            <td><textarea [(ngModel)]="assetPerformance.province" [rows]="6" [cols]="10" pInputTextarea></textarea></td>
            <td><textarea [(ngModel)]="assetPerformance.town" [rows]="6" [cols]="10" pInputTextarea></textarea></td>
            <td><textarea [(ngModel)]="assetPerformance.uniqueIdentifyingCode" [rows]="6" [cols]="10" pInputTextarea></textarea></td>
            <td><textarea [(ngModel)]="assetPerformance.possibleNonAssetSolutions" [rows]="6" [cols]="10" pInputTextarea></textarea></td>
            <td><textarea [(ngModel)]="assetPerformance.commonAssetDescription" [rows]="6" [cols]="10" pInputTextarea></textarea></td>
            <td><textarea [(ngModel)]="assetPerformance.currentUse" [rows]="6" [cols]="10" pInputTextarea></textarea></td>
            <td><textarea [(ngModel)]="assetPerformance.requiredPerformanceStandard" [rows]="6" [cols]="10" pInputTextarea></textarea></td>
            <td><textarea [(ngModel)]="assetPerformance.accessabilityRating" [rows]="6" [cols]="10" pInputTextarea></textarea></td>
            <td><textarea [(ngModel)]="assetPerformance.suitabilityIndex" [rows]="6" [cols]="10" pInputTextarea></textarea></td>
            <td><textarea [(ngModel)]="assetPerformance.conditionRating" [rows]="6" [cols]="10" pInputTextarea></textarea></td>
            <td><textarea [(ngModel)]="assetPerformance.operatingPerformanceIndex" [rows]="6" [cols]="10" pInputTextarea></textarea></td>
            <td><textarea [(ngModel)]="assetPerformance.functionalPerformanceRating" [rows]="6" [cols]="10" pInputTextarea></textarea></td>
        </tr>
    </ng-template>
</p-table>

<div>
    <button pButton type="button" label="Save FunctionalPerformances" (click)="saveFunctionalPerformances()" style="float: right;margin-top: 10px;"></button>
    <button pButton type="button" label="Add Functional Performance" (click)="addAssetFunctionalPerformance()" style="float: right;margin-right: 10px;margin-top: 10px;"></button>
</div>