<div id="uampId">
    <div class="ui-g-12 ui-md-12">
        <div class="ui-g-4 ui-md-34">            
            <strong> User Immovable Asset Management Plan</strong>
        </div>
        <div class="ui-g-4 ui-md-4">
             Department: <strong>{{uamp.department}}</strong>
        </div>
        <div class="ui-g-4 ui-md-4">
            <button printSectionId="uampId" [useExistingCss]="true" ngxPrint style="float: right;">Print</button>
        </div>
    </div>
  
    <div class="ui-g-12 ui-md-12" style="margin-top: -25px;">
        <div class="ui-g-4 ui-md-4">
            File Reference: {{uamp.fileReference}}
        </div>      
        <div class="ui-g-4 ui-md-4">
            Created Date: {{uamp.createdDate | date}}
        </div>
        <div class="ui-g-4 ui-md-4" >
            <label style="float: right;">Status {{uamp.status}}</label> 
        </div>
    </div>
    <hr />
    <p-panel header="Templete 1: Programmes" [toggleable]="true">
        <ng-template pTemplate="icons">
            <button pButton class="p-panel-header-icon p-link" (click)="menu.toggle($event)">
                <span class="pi pi-cog"></span>
            </button>
            <p-menu #menu id="config_menu" [model]="items" [popup]="true"></p-menu>
        </ng-template>
        <p-table [value]="uamp.templeteOne.programmes" styleClass="p-datatable-striped" [responsive]="true">
            <ng-template pTemplate="header">
                <tr>
                    <th>Corporate Objectives</th>
                    <th>Outcomes/ Planned Outputs</th>
                    <th>Optimal Supporting Accommodation Solution</th>
                    <th>Rationale for Chosen Solution</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-programme>
                <tr>
                    <td>{{programme.corporateObjective}}</td>
                    <td>{{programme.outcomes}}</td>
                    <td>{{programme.optimalSupportingAccommodationSolution}}</td>
                    <td>{{programme.rationaleChosenSolution}}</td>
                </tr>
            </ng-template>
        </p-table>
    </p-panel>
    <br>
    <p-panel header="Templete 2.1: BUDGET FOR MTEF PERIOD" [toggleable]="true">
        <ng-template pTemplate="icons">
            <button pButton class="p-panel-header-icon p-link" (click)="menu.toggle($event)">
                <span class="pi pi-cog"></span>
            </button>
            <p-menu #menu id="config_menu" [model]="items" [popup]="true"></p-menu>
        </ng-template>
        <p-table [value]="uamp.templeteTwoPointOne.properties" styleClass="p-datatable-striped" [responsive]="true">
            <ng-template pTemplate="header">
                <tr>
                    <th>File Reference No.</th>
                    <th>Districts</th>
                    <th>Town</th>
                    <th>Local Municipality</th>
                    <th>Asset Description</th>
                    <th>Old Street Address</th>
                    <th>Current Street Address</th>
                    <th>Property Description</th>
                    <th>Asset Type</th>
                    <th>No. of Parking Bays</th>
                    <th>Usable/ Allocated Space <br> <small>(M²) 0000.00</small></th>
                    <th>Extent of Land (HA) <br> <small>(M²) 0000.00</small></th>
                    <th>Municipal/ Utility Services</th>
                    <th>Property Rates & Taxes</th>
                    <th>Operational Costs</th>
                    <th>Required Performance Standard</th>
                    <th>Accessibility</th>
                    <th>Condition Rating</th>
                    <th>Suitability Index</th>
                    <th>Operating Performance Index</th>
                    <th>Functional Performance Index</th>
                    <th>Comments</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-property>
                <tr>
                    <td>{{property.fileReferenceNo}}</td>
                    <td>{{property.districtRegion}}</td>
                    <td>{{property.town}}</td>
                    <td>{{property.localAuthority}}</td>
                    <td>{{property.assetDescription}}</td>
                    <td>{{property.currentStreetAddress}}</td>
                    <td>{{property.districtMunicipality}}</td>
                    <td>{{property.propertyDescription}}</td>
                    <td>{{property.assetType}}</td>
                    <td>{{property.noofParkingBays}}</td>
                    <td>{{property.usableAllocatedSpace}}</td>
                    <td>{{property.extentofLand}}</td>
                    <td>{{property.extentofLand}}</td>
                    <td>{{property.propertyRatesTaxes}} </td>
                    <td>{{property.operationalCosts}} </td>
                    <td>{{property.requiredPerformanceStandard}}</td>
                    <td>{{property.accessibility}}</td>
                    <td>{{property.conditionRating}}</td>
                    <td>{{property.suitabilityIndex}}</td>
                    <td>{{property.operationalPerformanceIndex}}</td>
                    <td>{{property.functionalPerformanceIndex}}</td>
                    <td>{{property.comment}}</td>
                </tr>
            </ng-template>
        </p-table>
    </p-panel>
    <br>
    <p-panel header="Templete 2.2: LEASED ASSETS OCCUPIED BY/ ALLOCATED TO SCHEDULE OF CURRENT LEASED ACCOMMODATION"
        [toggleable]="true">
        <ng-template pTemplate="icons">
            <button pButton class="p-panel-header-icon p-link" (click)="menu.toggle($event)">
                <span class="pi pi-cog"></span>
            </button>
            <p-menu #menu id="config_menu" [model]="items" [popup]="true"></p-menu>
        </ng-template>
        <p-table [value]="uamp.templeteTwoPointTwo.properties" styleClass="p-datatable-striped" [responsive]="true">
            <ng-template pTemplate="header">
                <tr>
                    <th>Serial No.</th>
                    <th>User Dept Code</th>
                    <th>File Reference No.</th>
                    <th>District</th>
                    <th>Town</th>
                    <th>Local Municipality</th>
                    <th>Asset Description</th>
                    <th>Old Street Address</th>
                    <th>Current Street Address</th>
                    <th>Property Description</th>
                    <th>Asset Type</th>
                    <th>No. OF Parking Bays Allocated</th>
                    <th>Lettable Space<br> <small>(M²) 0000.00</small></th>
                    <th>Extent of Land (HA) <br> <small>(M²) 0000.00</small></th>
                    <th>Rental PM</th>
                    <th>Rental PA</th>
                    <th>Operational Cost</th>
                    <th>Lease Start Date</th>
                    <th>Lease End Date</th>
                    <th>Lease Term</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-property>
                <tr>
                    <td>{{property.serialNo}}</td>
                    <td>{{property.userDepartment}}</td>
                    <td>{{property.fileReference}}</td>
                    <td>{{property.localAuthority}}</td>
                    <td>{{property.town}}</td>
                    <td>{{property.localAuthority}}</td>
                    <td>{{property.assetDescription}}</td>
                    <td>{{property.currentStreetAddress}}</td>
                    <td>{{property.currentStreetAddress}}</td>
                    <td>{{property.propertyDescription}}</td>
                    <td>{{property.assetType}}</td>
                    <td>{{property.noofParkingBays}}</td>
                    <td>{{property.lettableSpace}}</td>
                    <td>{{property.extentofLand}}</td>
                    <td>{{property.rentalAmountPM}}</td>
                    <td>property.rentalAmountPA}}</td>
                    <td>{{property.operationalCosts}}</td>
                    <td>{{property.leaseStartDate}}</td>
                    <td>{{property.leaseEndDate}}</td>
                    <td>{{property.leaseTerm}}</td>
                </tr>
            </ng-template>
        </p-table>
    </p-panel>
    <br>
    <p-panel
        header="Templete 3: STRATEGIC NEEDS ASSESSMENT: CURRENT UTILISATION/NEEDS ASSESSMENT OF ACCOMMODATION OCCUPIED"
        [toggleable]="true">
        <ng-template pTemplate="icons">
            <button pButton class="p-panel-header-icon p-link" (click)="menu.toggle($event)">
                <span class="pi pi-cog"></span>
            </button>
            <p-menu #menu id="config_menu" [model]="items" [popup]="true"></p-menu>
        </ng-template>
        <p-table [value]="uamp.templeteThree.strategicAssessments" styleClass="p-datatable-striped" [responsive]="true">
            <ng-template pTemplate="header">
                <tr>
                    <th></th>
                    <th colspan="4" style="width: 25%;">Requirements in Terms of Approved Organogram</th>
                    <th colspan="4" style="width: 25%;">Requirements in Terms of filled & budgeted Posts</th>
                    <th></th>
                    <th colspan="2">Space Utilisation</th>
                </tr>
                <tr>
                    <th>Post Description/ Title</th>
                    <th>Level</th>
                    <th>Quantity</th>
                    <th>Norm</th>
                    <th>Requirement</th>
                    <th>Level</th>
                    <th>Quantity</th>
                    <th>Norm</th>
                    <th>Requirement</th>
                    <th>Allocated Space</th>
                    <th>Surplus (+) or Shortage (-) of Accommodation(m²)</th>
                    <th>Percentage Utilised</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-strategicNeedsAssessment>
                <tr>
                    <td>{{strategicNeedsAssessment.postDescriptionTitle}}</td>
                    <td>{{strategicNeedsAssessment.fbpLevel}}</td>
                    <td>{{strategicNeedsAssessment.fbpQuantity}}</td>
                    <td>{{strategicNeedsAssessment.fbpNorm}}</td>
                    <td>{{strategicNeedsAssessment.fbpRequirement}}</td>
                    <td>{{strategicNeedsAssessment.aoLevel}}</td>
                    <td>{{strategicNeedsAssessment.aoQuantity}}</td>
                    <td>{{strategicNeedsAssessment.aoNorm}}</td>
                    <td>{{strategicNeedsAssessment.aoRequirement}}</td>
                    <td>{{strategicNeedsAssessment.allocatedSpace}}</td>
                    <td>{{strategicNeedsAssessment.surplusShortageAccommodation}}</td>
                    <td>{{strategicNeedsAssessment.percentageUtilised | number : '1.2-2'}}%</td>                    
                </tr>
            </ng-template>
        </p-table>
    </p-panel>
    
    <br>
    <p-panel header="Templete 4.1: ACQUISITION PLAN: NEW ACCOMMODATION REQUIREMENTS (CAPITAL PROJECTS)"
        [toggleable]="true">
        <ng-template pTemplate="icons">
            <button pButton class="p-panel-header-icon p-link" (click)="menu.toggle($event)">
                <span class="pi pi-cog"></span>
            </button>
            <p-menu #menu id="config_menu" [model]="items" [popup]="true"></p-menu>
        </ng-template>
        <p-table styleClass="p-datatable-striped" [value]="uamp.templeteFourPointOne.acquisitionPlans" [responsive]="true">
            <ng-template pTemplate="header">
                <tr>
                    <th>District/ Region</th>
                    <th>Town</th>
                    <th>Service Description</th>
                    <th>Budget Type</th>
                    <th>Size/ Extent (m²)</th>
                    <th>Year <br><small>in which initial needs were submitted</small></th>
                    <th>Acquisition Type</th>
                    <th>Status</th>
                    <th>Total Amount Required</th>
                    <th>Cash Flow <small>(MTEF Year 1)</small></th>
                    <th>Cash Flow <small>(MTEF Year 2)</small></th>
                    <th>Cash Flow <small>(MTEF Year 3)</small></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-acquisitionPlan>
                <tr>
                    <td>{{acquisitionPlan.districtRegion}}</td>
                    <td>{{acquisitionPlan.town}}</td>
                    <td>{{acquisitionPlan.serviceDescription}}</td>
                    <td>{{acquisitionPlan.budgetType}}</td>
                    <td>{{acquisitionPlan.extent}}</td>
                    <td>{{acquisitionPlan.initialNeedYear}}</td>
                    <td>{{acquisitionPlan.acquisitionType}}</td>
                    <td>{{acquisitionPlan.status}}</td>
                    <td>{{acquisitionPlan.totalAmountRequired | currency:'ZAR':'R'}}</td>
                    <td>{{acquisitionPlan.cashFlowYear1 | currency:'ZAR':'R'}}</td>
                    <td>{{acquisitionPlan.cashFlowYear2 | currency:'ZAR':'R'}}</td>
                    <td>{{acquisitionPlan.cashFlowYear3 | currency:'ZAR':'R'}}</td>
                </tr>
            </ng-template>
        </p-table>
    </p-panel>
    
    <br>
    <p-panel header="Templete 4.2: ACQUISITION PLAN: NEW LEASED ACCOMMODATION REQUIREMENTS" [toggleable]="true">
        <ng-template pTemplate="icons">
            <button pButton class="p-panel-header-icon p-link" (click)="menu.toggle($event)">
                <span class="pi pi-cog"></span>
            </button>
            <p-menu #menu id="config_menu" [model]="items" [popup]="true"></p-menu>
        </ng-template>

        <p-table styleClass="p-datatable-striped" [value]="uamp.templeteFourPointTwo.acquisitionPlans" [responsive]="true">
            <ng-template pTemplate="header">
                <tr>
                    <th>District/ Region</th>
                    <th>Town</th>
                    <th>Service Description</th>
                    <th>Budget Type</th>
                    <th>Extent Required (m²)</th>
                    <th>Acquisition Type</th>
                    <th>Status</th>
                    <th>Total Amount Required </th>
                    <th>Cash Flow <small>(MTEF Year 1)</small></th>
                    <th>Cash Flow <small>(MTEF Year 2)</small></th>
                    <th>Cash Flow <small>(MTEF Year 3)</small></th>
                    <th>Cash Flow <small>(MTEF Year 4)</small></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-acquisitionPlan>
                <tr>
                    <td>{{acquisitionPlan.districtRegion}}</td>
                    <td>{{acquisitionPlan.town}}</td>
                    <td>{{acquisitionPlan.serviceDescription}}</td>
                    <td>{{acquisitionPlan.budgetType}}</td>
                    <td>{{acquisitionPlan.extent}}</td>
                    <td>{{acquisitionPlan.acquisitionType}}</td>
                    <td>{{acquisitionPlan.status}}</td>
                    <td>{{acquisitionPlan.totalAmountRequired | currency:'ZAR':'R'}}</td>
                    <td>{{acquisitionPlan.cashFlowYear1 | currency:'ZAR':'R'}}</td>
                    <td>{{acquisitionPlan.cashFlowYear2 | currency:'ZAR':'R'}}</td>
                    <td>{{acquisitionPlan.cashFlowYear3 | currency:'ZAR':'R'}}</td>
                    <td>{{acquisitionPlan.cashFlowYear4 | currency:'ZAR':'R'}}</td>
                </tr>
            </ng-template>
        </p-table>
    </p-panel>

    <br>
    <p-panel
        header="Templete 5.1: OPERATIONS PLAN: ADDITIONS, REFURBISHMENT AND / OR RECONFIGURATION TO EXISTING BUILDINGS"
        [toggleable]="true">
        <ng-template pTemplate="icons">
            <button pButton class="p-panel-header-icon p-link" (click)="menu.toggle($event)">
                <span class="pi pi-cog"></span>
            </button>
            <p-menu #menu id="config_menu" [model]="items" [popup]="true"></p-menu>
        </ng-template>
        <p-table styleClass="p-datatable-striped" [value]="this.uamp.templeteFivePointOne.operationPlans" [responsive]="true">
            <ng-template pTemplate="header">
                <tr>
                    <th>District/ Region</th>   
                    <th>Town</th>
                    <th>Service Description</th>
                    <th>Budget Type</th>
                    <th>Year <br><small>in which initial needs were submitted</small></th>
                    <th>Status</th>
                    <th>Total Amount Required</th>
                    <th>Cash Flow <small>(MTEF Year 1)</small></th>
                    <th>Cash Flow <small>(MTEF Year 2)</small></th>
                    <th>Cash Flow <small>(MTEF Year 3)</small></th>
                    <th>Cash Flow <small>(MTEF Year 4)</small></th>
                    <th>Cash Flow <small>(MTEF Year 5)</small></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-operationPlan>
                <tr>
                    <td>{{operationPlan.districtRegion}}</td>
                    <td>{{operationPlan.town}}</td>
                    <td>{{operationPlan.serviceDescription}}</td>
                    <td>{{operationPlan.budgetType}}</td>
                    <td>{{operationPlan.initialNeedYear}}</td>
                    <td>{{operationPlan.status}}</td>
                    <td>{{operationPlan.totalAmountRequired | currency:'ZAR':'R'}}</td>
                    <td>{{operationPlan.cashFlowYear1 | currency:'ZAR':'R'}}</td>
                    <td>{{operationPlan.cashFlowYear2 | currency:'ZAR':'R'}}</td>
                    <td>{{operationPlan.cashFlowYear3 | currency:'ZAR':'R'}}</td>
                    <td>{{operationPlan.cashFlowYear4 | currency:'ZAR':'R'}}</td>
                    <td>{{operationPlan.cashFlowYear5 | currency:'ZAR':'R'}}</td>                   
                </tr>
            </ng-template>
        </p-table>
    </p-panel>
    <br>

    <p-panel header="Templete 5.2: OPERATIONS PLAN: MAINTENANCE REQUIREMENTS" [toggleable]="true">
        <ng-template pTemplate="icons">
            <button pButton class="p-panel-header-icon p-link" (click)="menu.toggle($event)">
                <span class="pi pi-cog"></span>
            </button>
            <p-menu #menu id="config_menu" [model]="items" [popup]="true"></p-menu>
        </ng-template>
        <p-table styleClass="p-datatable-striped" [value]="uamp.templeteFivePointTwo.operationPlans" [responsive]="true">
            <ng-template pTemplate="header">
                <tr>
                    <th>District</th>               
                    <th>Town</th>
                    <th>Local Municipality</th>
                    <th>Asset Description</th>
                    <th>Repair Description</th>
                    <th>YEAR <br> <small>in which initial request was submitted</small></th>
                    <th style="width: 200px;">Prioity / Service Reanking</th>
                    <th>Total Amount Required</th>
                    <th>Cash Flow <br><small>(MTEF YR 1)</small></th>
                    <th>Cash Flow <br><small>(MTEF YR 2)</small></th>
                    <th>Cash Flow <br><small>(MTEF YR 3)</small></th>
                    <th>Cash Flow <br><small>(MTEF YR 4)</small></th>
                    <th>Cash Flow <br><small>(MTEF YR 5)</small></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-operationPlan let-rowIndex="rowIndex">
                    <tr>
                        <td>{{operationPlan.districtRegion}}</td>
                        <td>{{operationPlan.town}}</td>
                        <td>{{operationPlan.localAuthority}}</td>
                        <td>{{operationPlan.assetDescription}}</td>
                        <td>{{operationPlan.repairDescription}}</td>
                        <td>{{operationPlan.initialNeedYear}}</td>
                        <td>{{operationPlan.prioityServiceReanking}}</td>
                        <td>{{operationPlan.totalAmountRequired</td>
                        <td>{{operationPlan.cashFlowYear1}}</td>
                        <td>{{operationPlan.cashFlowYear2}}</td>
                        <td>{{operationPlan.cashFlowYear3}}</td>
                        <td>{{operationPlan.cashFlowYear4}}</td>
                        <td>{{operationPlan.cashFlowYear5}}</td>
                    </tr>
            </ng-template>
        </p-table>
    </p-panel>
    <br>

    <p-panel header="Templete 5.3: OPERATIONS PLAN: ASSETS LEASED OUT / INVESTMENT PURPOSES ASSETS	"
        [toggleable]="true">
        <ng-template pTemplate="icons">
            <button pButton class="p-panel-header-icon p-link" (click)="menu.toggle($event)">
                <span class="pi pi-cog"></span>
            </button>
            <p-menu #menu id="config_menu" [model]="items" [popup]="true"></p-menu>
        </ng-template>
        <p-table styleClass="p-datatable-striped" [value]="uamp.templeteFivePointThree.operationPlans" [responsive]="true">
            <ng-template pTemplate="header">
                <tr>
                    <th>District</th>               
                    <th>Town</th>
                    <th>Local Municipality</th>
                    <th>Asset Description</th>
                    <th>Street Description</th>
                    <th>Property Description</th>
                    <th>Lease Type</th>
                    <th>No. of Parking Bays</th>
                    <th>Usable Space<br><small>(M²) 0000.00</small></th>
                    <th>Construction Area<br><small>(M²) 0000.00</small></th>
                    <th>Extent of Land<br><small>(HA) 0000.0000</small></th>
                    <th>Lease Start Date</th>
                    <th>Lease Start End</th>
                    <th>Rental PM/PA</th>
                    <th>Comments</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-operationPlan let-rowIndex="rowIndex">
                    <tr>
                        <td>{{operationPlan.districtRegion}}</td>
                        <td>{{operationPlan.town}}</td>
                        <td>{{operationPlan.localAuthority}}</td>
                        <td>{{operationPlan.assetDescription}}</td>
                        <td>{{operationPlan.streetDescription}}</td>
                        <td>{{operationPlan.repairDescription}}</td>
                        <td>{{operationPlan.leaseType}}</td>
                        <td>{{operationPlan.noofParkingBays}}</td>
                        <td>{{operationPlan.usableSpace}}</td>
                        <td>{{operationPlan.constructionArea}}</td>
                        <td>{{operationPlan.extent}}</td>
                        <td>{{operationPlan.leaseStartDate}}</td>
                        <td>{{operationPlan.leaseEndDate}}</td>
                        <td>{{operationPlan.rentalPmPa}}</td>
                        <td>{{operationPlan.comment}}</td>
                    </tr>
            </ng-template>
        </p-table>
    </p-panel>

    <!--surrenderPlans-->
    <br>
    <p-panel header="Templete 6: SURRENDER PLAN: ACCOMMODATION/LAND IDENTIFIED TO BE RELINQUISHED TO THE CUSTODIAN"
        [toggleable]="true">
        <ng-template pTemplate="icons">
            <button pButton class="p-panel-header-icon p-link" (click)="menu.toggle($event)">
                <span class="pi pi-cog"></span>
            </button>
            <p-menu #menu id="config_menu" [model]="items" [popup]="true"></p-menu>
        </ng-template>
        <p-table styleClass="p-datatable-striped" [value]="uamp.templeteSix.surrenderPlans" [responsive]="true">
            <ng-template pTemplate="header">
                <tr>
                    <th>District</th>
                    <th>Town</th>
                    <th>Local Municipality</th>
                    <th>Asset Type</th>
                    <th>Current Street Address</th>
                    <th>Property Description</th>
                    <th>Allocated/ Lettable Space<br> <small>(M²) 0000.00</small></th>
                    <th>Extent of Land<br> <small>(HA) 0000.0000</small></th>
                    <th>Surrender Rationale</th>
                    <th>Date of Proposed Hand-Over</th>
                    <th>Contractual Obligations</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-surrenderPlan>
                <tr>
                    <td>{{surrenderPlan.districtMunicipality}}</td>
                    <td>{{surrenderPlan.town}}</td>
                    <td>{{surrenderPlan.localAuthority}}</td>
                    <td>{{surrenderPlan.type}}</td>
                    <td>{{surrenderPlan.currentStreetAddress}}</td>
                    <td>{{surrenderPlan.name}}</td>
                    <td>{{surrenderPlan.allocatedLettableSpace}}</td>
                    <td>{{surrenderPlan.extent}}</td>
                    <td>{{surrenderPlan.surrenderRationale}}</td>
                    <td>{{surrenderPlan.proposedHandOverDate}}</td>
                    <td>{{surrenderPlan.contractualObligations}}</td>
                </tr>
            </ng-template>
        </p-table>
    </p-panel>

    <br>
    <p-panel header="Templete 7: BUDGET FOR MTEF PERIOD" [toggleable]="true">
        <ng-template pTemplate="icons">
            <button pButton class="p-panel-header-icon p-link" (click)="menu.toggle($event)">
                <span class="pi pi-cog"></span>
            </button>
            <p-menu #menu id="config_menu" [model]="items" [popup]="true"></p-menu>
        </ng-template>
        <p-table styleClass="p-datatable-striped" [value]="uamp.templeteSeven.mtefBudgetPeriods" [responsive]="true">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 130px;"></th>
                    <th colspan="3">MTEF YEAR 1</th>
                    <th colspan="3">MTEF YEAR 2</th>
                    <th colspan="3">MTEF YEAR 3</th>
                    <th colspan="3">MTEF YEAR 4</th>
                    <th colspan="3">MTEF YEAR 5</th>
                </tr>
                <tr>
                    <th></th>
                    <th>MTEF Allocation</th>
                    <th>Required Budget</th>
                    <th>Shortfall</th>
                    <th>MTEF Allocation</th>
                    <th>Required Budget</th>
                    <th>Shortfall</th>
                    <th>MTEF Allocation</th>
                    <th>Required Budget</th>
                    <th>Shortfall</th>
                    <th>MTEF Allocation</th>
                    <th>Required Budget</th>
                    <th>Shortfall</th>
                    <th>MTEF Allocation</th>
                    <th>Required Budget</th>
                    <th>Shortfall</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-mtefBudgetPeriod>
                <tr>
                    <td>{{mtefBudgetPeriod.name}}</td>
                    <td>{{mtefBudgetPeriod.mtefYearOne.mtefAllocation | currency:'ZAR':'R'}}</td>
                    <td>{{mtefBudgetPeriod.mtefYearOne.requiredBudget | currency:'ZAR':'R'}}</td>
                    <td>{{mtefBudgetPeriod.mtefYearOne.shortfall}}</td>
                    <td>{{mtefBudgetPeriod.mtefYearTwo.mtefAllocation | currency:'ZAR':'R'}}</td>
                    <td>{{mtefBudgetPeriod.mtefYearTwo.requiredBudget | currency:'ZAR':'R'}}</td>
                    <td>{{mtefBudgetPeriod.mtefYearTwo.shortfall}}</td>
                    <td>{{mtefBudgetPeriod.mtefYearThree.mtefAllocation | currency:'ZAR':'R'}}</td>
                    <td>{{mtefBudgetPeriod.mtefYearThree.requiredBudget | currency:'ZAR':'R'}}</td>
                    <td>{{mtefBudgetPeriod.mtefYearThree.shortfall}}</td>
                    <td>{{mtefBudgetPeriod.mtefYearFour.mtefAllocation | currency:'ZAR':'R'}}</td>
                    <td>{{mtefBudgetPeriod.mtefYearFour.requiredBudget | currency:'ZAR':'R'}}</td>
                    <td>{{mtefBudgetPeriod.mtefYearFour.shortfall}}</td>
                    <td>{{mtefBudgetPeriod.mtefYearFive.mtefAllocation | currency:'ZAR':'R'}}</td>
                    <td>{{mtefBudgetPeriod.mtefYearFive.requiredBudget | currency:'ZAR':'R'}}</td>
                    <td>{{mtefBudgetPeriod.mtefYearFive.shortfall}}</td>
                </tr>
            </ng-template>
        </p-table>
    </p-panel>
</div>