<p-table [value]="[{}]">
    <ng-template pTemplate="header">
        <tr>
            <th>No</th>
            <th>Province</th>
            <th>Town</th>
            <th>Street Adress and Surburb (If Apllicable)</th>
            <th>Common Asset Description</th>
            <th>Asset Type</th>
            <th>Extent of Improvement (M2)</th>
            <th>Formal Property (Land Description)</th>
            <th>Extent of Land (HA)</th>
            <th>Permanent/Tempy Accomm</th>
            <th>Heritage Status</th>
            <th>Custodian Unique Identifying Code</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData>
        <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
            <td>8</td>
            <td>9</td>
            <td>10</td>
            <td>11</td>
            <td>12</td>
        </tr>
            <span style="font-size: smaller;">STATE-OWNED ASSETS</span>
        <tr *ngFor="let facility of facilities">
            <td></td>
            <td>{{facility.land.geographicalLocation.province}}</td>
            <td>{{facility.land.geographicalLocation.town}}</td>
            <td>{{facility.land.geographicalLocation.streetName}}, {{facility.land.geographicalLocation.surburb}}</td>
            <td></td>
            <td></td>
            <td>{{facility.improvements.extentOfBuilding}}</td>
            <td></td>
            <td>{{facility.land.geographicalLocation.extent}}</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="font-weight: bolder;">TOTAL</td>
            <td>345,67</td>
            <td style="font-weight: bolder;">Total</td>
            <td>0.9751</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </ng-template>
</p-table>