<p-toast [style]="{marginTop: '90px'}" position="top-right"></p-toast>
<div class="header">
    <header>
        ACQUISITION PLAN: NEW ACCOMMODATION REQUIREMENTS (CAPITAL PROJECTS)							
    </header>
    <small>NB: This template although generally used for office accommodation may be expanded further for users 
        that have specific requirements in terms of their functional area e.g. special requ for new schools, clinics, hospital. etc.				
    </small>
</div>
<br>

<div class="ui-g ui-fluid">
    <form [formGroup]="acquisitionPlanForm">
        <div class="ui-g-12 ui-md-12">
            <div class="ui-g-3 ui-md-3">
                <label for="region">District/ Region</label>
                <p-dropdown placeholder="Please select" inputId="region" [options]="regions" formControlName="region" optionLabel="name"></p-dropdown>
            </div>
            <div class="ui-g-3 ui-md-3">
                <label for="initialNeedYear">Year in which initial needs were submitted</label>
                <p-dropdown placeholder="Please select" inputId="initialNeedYear" [options]="initialNeedYears" formControlName="initialNeedYear" optionLabel="name"></p-dropdown>
            </div>
            <div class="ui-g-3 ui-md-3">
                <label for="status">Status</label>
                <p-dropdown placeholder="Please select" inputId="status" [options]="statuses" formControlName="status" optionLabel="name"></p-dropdown>
            </div>
            <div class="ui-g-3 ui-md-3">
                <label for="acquisitionType">Acquisition Type</label>
                <p-dropdown placeholder="Please select" inputId="acquisitionType" [options]="acquisitionTypes" formControlName="acquisitionType" optionLabel="name"></p-dropdown>
            </div>
        </div>
        <div class="ui-g-12 ui-md-12">
            <div class="ui-g-3 ui-md-3">
                <label for="town">Town</label>
                <input formControlName="town" autocomplete="off" type="text" pInputText class="ui-inputtext ui-widget">
            </div>
            <div class="ui-g-3 ui-md-3">
                <label for="town">Service Description</label>
                <input formControlName="serviceDescription" autocomplete="off" type="text" pInputText class="ui-inputtext ui-widget">
            </div>
            <div class="ui-g-3 ui-md-3">
                <label for="town">Budget Type</label>
                <input formControlName="budgetType" autocomplete="off" type="text" pInputText class="ui-inputtext ui-widget">
            </div>
            <div class="ui-g-3 ui-md-3">
                <label for="town">Size/ Extent <small>(m²)</small></label>
                <p-inputNumber formControlName="extent" mode="decimal"></p-inputNumber>
            </div>
        </div>
        <div class="ui-g-12 ui-md-12">
            <div class="ui-g-3 ui-md-3">
                <label for="totalAmountRequired">Total Amount Required</label>
                <p-inputNumber formControlName="totalAmountRequired" mode="currency" currency="ZAR" locale="en-ZA"></p-inputNumber>
            </div>
            <div class="ui-g-3 ui-md-3">
                <label for="cashFlowYear1">Cash Flow <small>(MTEF Year 1)</small></label>
                <p-inputNumber formControlName="cashFlowYear1" mode="currency" currency="ZAR" locale="en-ZA"></p-inputNumber>
            </div>
            <div class="ui-g-3 ui-md-3">
                <label for="cashFlowYear2">Cash Flow <small>(MTEF Year 2)</small></label>
                <p-inputNumber formControlName="cashFlowYear2" mode="currency" currency="ZAR" locale="en-ZA"></p-inputNumber>
            </div>
            <div class="ui-g-3 ui-md-3">
                <label for="cashFlowYear3">Cash Flow <small>(MTEF Year 3)</small></label>
                <p-inputNumber formControlName="cashFlowYear3" mode="currency" currency="ZAR" locale="en-ZA"></p-inputNumber>
            </div>
        </div>
        <div class="ui-g-12 ui-md-12">
            <button pButton type="submit" label="Add Acquisition Plan" (click)="addAcquisitionPlan()"
            style="float: right;width: fit-content;"></button>
        </div>
    </form>

<p-table styleClass="p-datatable-striped" [value]="acquisitionPlans" [responsive]="true">
    <ng-template pTemplate="header">
        <tr>
            <th>District/ Region</th>
            <th>Town</th>
            <th>Service Description</th>
            <th>Budget Type</th>
            <th>Size/ Extent (m²)</th>
            <th>Year <br><small>in which initial needs were submitted</small></th>
            <th>Acquisition Type</th> 
            <th>Status</th>            
            <th>Total Amount Required</th>
            <th>Cash Flow <small>(MTEF Year 1)</small></th>
            <th>Cash Flow <small>(MTEF Year 2)</small></th>
            <th>Cash Flow <small>(MTEF Year 3)</small></th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-acquisitionPlan>
        <tr>
            <td>{{acquisitionPlan.region}}</td>
            <td>{{acquisitionPlan.town}}</td>
            <td>{{acquisitionPlan.serviceDescription}}</td>
            <td>{{acquisitionPlan.budgetType}}</td>
            <td>{{acquisitionPlan.extent}}</td>
            <td>{{acquisitionPlan.initialNeedYear}}</td>
            <td>{{acquisitionPlan.acquisitionType}}</td>
            <td>{{acquisitionPlan.status}}</td>
            <td>{{acquisitionPlan.totalAmountRequired | currency:'ZAR':'R'}}</td>
            <td>{{acquisitionPlan.cashFlowYear1 | currency:'ZAR':'R'}}</td>
            <td>{{acquisitionPlan.cashFlowYear2 | currency:'ZAR':'R'}}</td>
            <td>{{acquisitionPlan.cashFlowYear3 | currency:'ZAR':'R'}}</td>
            <td style="text-align: center;" *ngIf="acquisitionPlans.length > 0">
                <p-splitButton label="More" *ngIf="mode != 'View'" [model]="buttonItems"
                    (onDropdownClick)="selectImprovement(rowData)" styleClass="p-button-secondary">
                </p-splitButton>
            </td>
        </tr>
    </ng-template>
</p-table>
</div>