<p-toast [style]="{marginTop: '90px'}" position="top-right"></p-toast>
<div class="header">
    <header>
        STRATEGIC NEEDS ASSESSMENT: CURRENT UTILISATION/NEEDS ASSESSMENT OF ACCOMMODATION OCCUPIED
    </header>
</div>
<br>
<br>
<div class="ui-g ui-fluid">
    <form [formGroup]="assessmentStrategicForm">
        <div class="ui-g-12 ui-md-12">
            <div class="ui-g-6 ui-md-6" style="margin-top: 25px;">
                <div class="ui-g-6 ui-md-6">
                    <small for="postDescriptionTitle">Post Description/ Title</small>
                    <input formControlName="postDescriptionTitle" autocomplete="off" type="text" pInputText
                        class="ui-inputtext ui-widget">
                </div>
                <div class="ui-g-6 ui-md-6">
                    <small for="allocatedSpace">Allocated Space</small>
                    <p-inputNumber formControlName="allocatedSpace"></p-inputNumber>
                    <small>As per usable office space</small>
                </div>
            </div>
        </div>

        <div class="ui-g-12 ui-md-12">
            <div class="ui-g-6 ui-md-6">
                <div>Requirements in Terms of filled & budgeted Posts</div>
                <div>
                    <div class="ui-g-4 ui-md-4">
                        <small>Level</small>
                        <p-inputNumber formControlName="fbpLevel"></p-inputNumber>
                    </div>
                    <div class="ui-g-4 ui-md-4">
                        <small>Quantity</small>
                        <p-inputNumber formControlName="fbpQuantity"></p-inputNumber>
                    </div>
                    <div class="ui-g-4 ui-md-4">
                        <small>Norm</small>
                        <p-inputNumber formControlName="fbpNorm"></p-inputNumber>
                    </div>
                </div>
            </div>
            <div class="ui-g-6 ui-md-6">
                <div>Requirements in Terms of Approved Organogram</div>
                <div class="ui-g-12 ui-md-12">
                    <div class="ui-g-4 ui-md-4">
                        <small>Level</small>
                        <p-inputNumber formControlName="aoLevel"></p-inputNumber>
                    </div>
                    <div class="ui-g-4 ui-md-4">
                        <small>Quantity</small>
                        <p-inputNumber formControlName="aoQuantity"></p-inputNumber>
                    </div>
                    <div class="ui-g-4 ui-md-4">
                        <small>Norm</small>
                        <p-inputNumber formControlName="aoNorm"></p-inputNumber>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui-g-12 ui-md-12">
            <button pButton type="button" label="Add Strategic Needs Assessment" (click)="addStrategicNeedsAssessment()"
                style="float: right;width: fit-content;"></button>
        </div>
    </form>


    <div>
        <p-table [value]="strategicNeedsAssessments" styleClass="p-datatable-striped" [responsive]="true">
            <ng-template pTemplate="header">
                <tr>
                    <th></th>
                    <th colspan="4" style="width: 25%;">Requirements in Terms of Approved Organogram</th>
                    <th colspan="4" style="width: 25%;">Requirements in Terms of filled & budgeted Posts</th>
                    <th></th>
                    <th colspan="2">Space Utilisation</th>
                    <th></th>
                </tr>
                <tr>
                    <th>Post Description/ Title</th>
                    <th>Level</th>
                    <th>Quantity</th>
                    <th>Norm</th>
                    <th>Requirement</th>
                    <th>Level</th>
                    <th>Quantity</th>
                    <th>Norm</th>
                    <th>Requirement</th>
                    <th>Allocated Space</th>
                    <th>Surplus (+) or Shortage (-) of Accommodation(m²)</th>
                    <th>Percentage Utilised</th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-strategicNeedsAssessment>
                <tr>
                    <td>{{strategicNeedsAssessment.postDescriptionTitle}}</td>
                    <td>{{strategicNeedsAssessment.fbpLevel}}</td>
                    <td>{{strategicNeedsAssessment.fbpQuantity}}</td>
                    <td>{{strategicNeedsAssessment.fbpNorm}}</td>
                    <td>{{strategicNeedsAssessment.fbpRequirement}}</td>
                    <td>{{strategicNeedsAssessment.aoLevel}}</td>
                    <td>{{strategicNeedsAssessment.aoQuantity}}</td>
                    <td>{{strategicNeedsAssessment.aoNorm}}</td>
                    <td>{{strategicNeedsAssessment.aoRequirement}}</td>
                    <td>{{strategicNeedsAssessment.allocatedSpace}}</td>
                    <td>{{strategicNeedsAssessment.surplusShortageAccommodation}}</td>
                    <td>{{strategicNeedsAssessment.percentageUtilised}}%</td>
                    <td style="text-align: center;" *ngIf="strategicNeedsAssessments.length > 0">
                        <p-splitButton label="More" *ngIf="mode != 'View'" [model]="buttonItems"
                            (onDropdownClick)="selectImprovement(rowData)" styleClass="p-button-secondary">
                        </p-splitButton>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>