<p-toast [style]="{marginTop: '80px'}" position="top-right"></p-toast>
<div class="login-body">
    <div class="mobile-banner">
        <img src="../../../assets/images/logo.png" alt="prestige-layout">
    </div>
    <div class="login-panel">
        <div class="logo">
            <img src="../../../assets/images/logo.png" alt="prestige-layout">
        </div>
    </div>
    <div class="login-card">
        <div class="top-border"></div>
        <div class="login-content">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <h1>Login</h1>
                <p>Welcome, please use the form to sign-in.</p>
                <div class="username-container">
                    <label>Username</label>
                    <div class="login-input">
                        <input formControlName="username" type="text" autocomplete="off" placeholder="Username"
                            class="ui-inputtext ui-widget" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
                        <div *ngIf="submitted && f.username.errors" class="text-error">
                            <div *ngIf="f.username.errors.required">username is required.</div>
                        </div>
                    </div>
                </div>
                <div class="password-container">
                    <label>Password</label>
                    <div class="login-input">
                        <input formControlName="password" type="password" autocomplete="off" placeholder="Password"
                            class="ui-inputtext ui-widget" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
                        <div *ngIf="submitted && f.password.errors" class="text-error">
                            <div *ngIf="f.password.errors.required">password is required.</div>
                        </div>
                    </div>
                </div>
                <div class="forgetpassword-container">
                    <a (click)="showDialog = !showDialog" class="forget-password">Forgot Password?</a>
                </div>
                <div>
                    <p-button styleClass="w-full" type="Submit" [disabled]="loading" label="Sign In" 
                    iconPos="right" [loading]="loading"></p-button>  
                </div>
                <div *ngIf="error" class="alert alert-danger mt-3 mb-0 text-error text-center">{{error}}</div>
            </form>
        </div>
    </div>
</div>

<div *ngIf="showDialog" class="dialogBackgroud"></div>

<p-dialog header="Forgot Password" [(visible)]="showDialog" [style]="{width: '40vw'}" [baseZIndex]="10000">
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onForgotPasswordSubmit()">
        <div class="p-fluid p-grid p-formgrid">
            <span class="p-float-label p-input-icon-left mt-5">
                <i class="pi pi-user"></i>
                <input formControlName="username" type="text" style="padding-left: 30px;" pInputText class="ui-inputtext ui-widget"
                    [ngClass]="{ 'is-invalid': forgotPasswordSubmitted && ff.username.errors }" required>
                <label for="float-input">Username</label>

                <div *ngIf="forgotPasswordSubmitted && ff.username.errors" class="text-error">
                    <div *ngIf="ff.username.errors.required">This field is required.</div>
                </div>
            </span>
            <div style="padding-left: 35%;" *ngIf="forgotPasswordError"
                class="alert alert-danger mt-3 mb-0 text-error text-center">{{forgotPasswordError}}</div>
        </div>
        <p-dialog-footer>
            <button style="float: left;" type="button" pButton icon="pi pi-times" (click)="showDialog=false" label="Cancel" class="ui-button-secondary mt-2"></button>
            <button style="float: right; margin-top: 0.5em;" [disabled]="forgotPasswordLoading" pButton pRipple type="submit" label="Submit" class="p-button-raised p-button-success"></button>
        </p-dialog-footer>
    </form>
</p-dialog>