<div class="header">
    <header>
        OPERATIONS PLAN: ADDITIONS, REFURBISHMENT AND / OR RECONFIGURATION TO EXISTING BUILDINGS 										
    </header>
</div>
<br>

<div class="ui-g ui-fluid">
    <form [formGroup]="operationPlanForm">
        <div class="ui-g-12 ui-md-12">
            <div class="ui-g-3 ui-md-3">
                <label for="region">District/ Region</label>
                <p-dropdown placeholder="Please select" inputId="region" [options]="regions" formControlName="region" optionLabel="name"></p-dropdown>
            </div>           
            <div class="ui-g-3 ui-md-3">
                <label for="status">Status</label>
                <p-dropdown placeholder="Please select" inputId="status" [options]="statuses" formControlName="status" optionLabel="name"></p-dropdown>
            </div>           
            <div class="ui-g-3 ui-md-3">
                <label for="initialNeedYear">Year in which initial needs were submitted</label>
                <p-dropdown placeholder="Please select" inputId="initialNeedYear" [options]="initialNeedYears" formControlName="initialNeedYear" optionLabel="name"></p-dropdown>
            </div>
            <div class="ui-g-3 ui-md-3">
                <label for="town">Town</label>
                <input formControlName="town" autocomplete="off" type="text" pInputText class="ui-inputtext ui-widget">
            </div>
        </div>
        <div class="ui-g-12 ui-md-12">           
            <div class="ui-g-3 ui-md-3">
                <label for="town">Service Description</label>
                <input formControlName="serviceDescription" autocomplete="off" type="text" pInputText class="ui-inputtext ui-widget">
            </div>
            <div class="ui-g-3 ui-md-3">
                <label for="town">Budget Type</label>
                <input formControlName="budgetType" autocomplete="off" type="text" pInputText class="ui-inputtext ui-widget">
            </div>            
            <div class="ui-g-3 ui-md-3">
                <label for="totalAmountQuired">Total Amount Quired</label>
                <p-inputNumber formControlName="totalAmountQuired" mode="currency" currency="ZAR" locale="en-ZA"></p-inputNumber>
            </div>
            <div class="ui-g-3 ui-md-3">
                <label for="cashFlowYear1">Cash Flow <small>(MTEF Year 1)</small></label>
                <p-inputNumber formControlName="cashFlowYear1" mode="currency" currency="ZAR" locale="en-ZA"></p-inputNumber>
            </div>
        </div>
        <div class="ui-g-12 ui-md-12">  
            <div class="ui-g-3 ui-md-3">
                <label for="cashFlowYear2">Cash Flow <small>(MTEF Year 2)</small></label>
                <p-inputNumber formControlName="cashFlowYear2" mode="currency" currency="ZAR" locale="en-ZA"></p-inputNumber>
            </div>
            <div class="ui-g-3 ui-md-3">
                <label for="cashFlowYear3">Cash Flow <small>(MTEF Year 3)</small></label>
                <p-inputNumber formControlName="cashFlowYear3" mode="currency" currency="ZAR" locale="en-ZA"></p-inputNumber>
            </div>
            <div class="ui-g-3 ui-md-3">
                <label for="cashFlowYear4">Cash Flow <small>(MTEF Year 4)</small></label>
                <p-inputNumber formControlName="cashFlowYear4" mode="currency" currency="ZAR" locale="en-ZA"></p-inputNumber>
            </div>
            <div class="ui-g-3 ui-md-3">
                <label for="cashFlowYear5">Cash Flow <small>(MTEF Year 5)</small></label>
                <p-inputNumber formControlName="cashFlowYear5" mode="currency" currency="ZAR" locale="en-ZA"></p-inputNumber>
            </div>
        </div>
        <div class="ui-g-12 ui-md-12">
            <button pButton type="submit" label="Add Programme Plan" (click)="addAcquisitionPlan()"
            style="float: right;width: fit-content;"></button>
        </div>
    </form>

<p-table [value]="[{}]">
    <ng-template pTemplate="header">
        <tr>
            <th>District/ Region</th>          
            <th>Year <br><small>in which initial needs were submitted</small></th>
            <th>Town</th>
            <th>Service Description</th>
            <th>Budget Type</th>
            <th>Status</th>
            <th>Total Amount Quired</th>
            <th>Cash Flow <small>(MTEF Year 1)</small></th>
            <th>Cash Flow <small>(MTEF Year 2)</small></th>
            <th>Cash Flow <small>(MTEF Year 3)</small></th>
            <th>Cash Flow <small>(MTEF Year 4)</small></th>
            <th>Cash Flow <small>(MTEF Year 5)</small></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData>
        <tr *ngFor="let operationPlan of operationPlans">
            <td>
                {{rowData[col.field]}}
            </td>
            <td style="text-align: center;" *ngIf="operationPlans.length > 0">
                <p-splitButton label="More" *ngIf="mode != 'View'" [model]="buttonItems"
                    (onDropdownClick)="selectImprovement(rowData)" styleClass="p-button-secondary">
                </p-splitButton>
            </td>
        </tr>
    </ng-template>
</p-table>
</div>