<div>
    <span>
        <div style="text-align: end;padding: 20px;">
            <button pButton type="button" label="Start UAMP" (click)="viewUAMP()"></button>
        </div>
    </span>
</div>
<div class="grid">
    <div>
        <p-card>
            <div>
                <div style="text-align: center;" class="number-count">
                    {{stateOwnedPropertyCount}}
                </div>
                <div style="text-align: center;">
                    State Owned Properties
                </div>
            </div>
        </p-card>
    </div>
    <div>
        <p-card>
            <div style="text-align: center;" class="number-count">
                {{leasedPropertyCount}}
            </div>
            <div style="text-align: center;">
                Leased Properties
            </div>
        </p-card>
    </div>
</div>
<p-table [value]="facilities">
    <ng-template pTemplate="header">
        <tr>
            <th>File Reference</th>
            <th>Property Code</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-facility>
        <tr>
            <td>{{facility.fileReference}}</td>
            <td>{{facility.clientCode}}</td>
            <td>{{facility.status}}</td>
            <td>
                <div style="text-align: center;">
                    <p-button label="View" (click)="viewFacility(facility)"></p-button> 
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>

<div *ngIf="showDialog" class="dialogBackgroud"></div>
<p-dialog [(visible)]="showDialog" *ngIf="showDialog" [style]="{width: '80vw'}"
    [baseZIndex]="10000">
    <p-header> Property </p-header>
    <app-view-property [selectedFacility]="selectedFacility"></app-view-property>
</p-dialog>

<div *ngIf="showUAMP" class="dialogBackgroud"></div>
<p-dialog [(visible)]="showUAMP" *ngIf="showUAMP" [style]="{width: '95vw'}"
    [baseZIndex]="10000">
    <p-header> UAMP </p-header>
    <app-template-one *ngIf="activeIndex == 1"></app-template-one>
    <app-template-two *ngIf="activeIndex == 2"></app-template-two>
    <app-template-three *ngIf="activeIndex == 3"></app-template-three>
    <app-schedule-of-current-utilisation *ngIf="activeIndex == 4"></app-schedule-of-current-utilisation>
    <app-gap-analysis *ngIf="activeIndex == 5"></app-gap-analysis>
    <app-refurbishment-reconfiguration *ngIf="activeIndex == 6"></app-refurbishment-reconfiguration>
    <app-repair-requirements *ngIf="activeIndex == 7"></app-repair-requirements>
    <p-footer>
        <button style="float: left; margin-top: 15px;" type="button" pButton icon="pi pi-angle-left"
        (click)="activeIndex = 1" label="Back" class="ui-button-secondary"></button>
    <button style="float: right; margin-top: 15px" type="button" (click)="activeIndex = activeIndex + 1" pButton
        icon="pi pi-angle-right" label="Continue"></button>
    <button style="float: right; margin-top: 15px;margin-right: 10px" type="submit" pButton
        icon="pi pi-check" label="Save"></button>
    </p-footer>
</p-dialog>
