<div class="header">
    <header>
        SURRENDER PLAN: ACCOMMODATION/LAND IDENTIFIED TO BE RELINQUISHED TO THE CUSTODIAN																
    </header>
</div>
<br>

<p-table [value]="[{}]">
    <ng-template pTemplate="header">
        <tr>
            <th>Province</th>
            <th>Town</th>
            <th>Unique Identifying Code</th>
            <th>Description</th>
            <th>Budget Type (Capital/Current)</th>
            <th>Status</th>
            <th>Expenditure Estimate</th>
            <th>Expenditure Estimate Year 1</th>
            <th>Expenditure Estimate Year 2</th>
            <th>Expenditure Estimate Year 3</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData>
        <span style="font-size: x-small;">CURRENTLY IN PROGRESS</span>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <span style="font-size: x-small;">PROJECTS PLANNED</span>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </ng-template>
</p-table>