<p-table [value]="[{}]">
    <ng-template pTemplate="header">
        <tr>
            <th>Post</th>
            <th>Required Space</th>
            <th>Allocated Space</th>
            <th>Percentage Utilised</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData>
        <tr>
            <td style="text-align: center;font-weight: bolder;">Division</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Executive</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
                <div>
                    Senior Management
                </div>
                <div>
                    (Post 1)
                </div>
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </ng-template>
</p-table>