<p-table [value]="[{}]">
    <ng-template pTemplate="header">
        <tr>
            <th>Post</th>
            <th>Required Space</th>
            <th>Allocated Space</th>
            <th>Percentage Utilised</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData>
        <tr *ngFor="let currentUtilisation of scheduleCurrentUtilisation">
            <td><textarea [(ngModel)]="currentUtilisation.post" [rows]="6" [cols]="48" pInputTextarea></textarea></td>
            <td><textarea [(ngModel)]="currentUtilisation.requiredSpace" [rows]="6" [cols]="48" pInputTextarea></textarea></td>
            <td><textarea [(ngModel)]="currentUtilisation.allocatedSpace" [rows]="6" [cols]="48" pInputTextarea></textarea></td>
            <td><textarea [(ngModel)]="currentUtilisation.percentageUtilised" [rows]="6" [cols]="48" pInputTextarea></textarea></td>
        </tr>
    </ng-template>
</p-table>

<div>
    <span>
        <div style="text-align: end;padding: 20px;">
            <button pButton type="button" label="Add Utilisation" (click)="addUtilisation()" ></button>
        </div>
    </span>
</div>