<div class="header">
    <header>
        ANNEXURE B: LEASED  ASSETS OCCUPIED BY/ ALLOCATED TO SCHEDULE OF CURRENT LEASED ACCOMMODATION 	
    </header>
</div>
<br>


<div class="p-fluid p-grid p-formgrid" >
    <form [formGroup]="propertyForm">
        <div class="formgrid grid">  
            <div class="field grid col-3">
                <label for="region">District/ Region</label>
                <p-dropdown [style]="{'width':'318px'}" class="ui-inputtext ui-widget" placeholder="Please select" inputId="district" [options]="regions" formControlName="district" optionLabel="name"></p-dropdown>
            </div>
            <div class="field grid col-3">
                <label for="localMunicipality">Local Municipality</label>
                <p-dropdown [style]="{'width':'318px'}" class="ui-inputtext ui-widget" placeholder="Please select" inputId="localMunicipality" [options]="localMunicipalities" formControlName="localMunicipality" optionLabel="name"></p-dropdown>
            </div>
            <div class="field grid col-3">
                <label for="assetType">Asset Type</label>
                <p-dropdown [style]="{'width':'318px'}" class="ui-inputtext ui-widget" inputId="type" [disabled]="isViewOnly" [options]="types" 
                placeholder="Please select" (onChange)="setType($event)" formControlName="assetType" optionLabel="name"></p-dropdown>    
            </div>
            <div class="field grid col-3">
                <label for="town">Required Performance Standard</label>
                <p-dropdown [style]="{'width':'318px'}" class="ui-inputtext ui-widget" inputId="type" [disabled]="isViewOnly" [options]="types" (onChange)="setType($event)"
                placeholder="Please select" formControlName="requiredPerformanceStandard" optionLabel="name"></p-dropdown> 
            </div>            
        </div>

        <div class="formgrid grid">  
            <div class="field grid col-3 pr-4">
                <label for="town">Town</label>
                <input formControlName="town" autocomplete="off" type="text" pInputText class="ui-inputtext ui-widget">
            </div>
            <div class="field grid col-3 pr-4">
                <label for="assetDescription">Asset Description</label>
                <input formControlName="assetDescription" autocomplete="off" type="text" pInputText class="ui-inputtext ui-widget">
            </div>           
            <div class="field grid col-3 pr-4">
                <label for="oldStreetAddress">Old Street Address</label>
                <input formControlName="oldStreetAddress" autocomplete="off" type="text" pInputText class="ui-inputtext ui-widget">
            </div>
            <div class="field grid col-3 pr-4">
                <label for="currentStreetAddress">Current Street Address</label>
                <input formControlName="currentStreetAddress" autocomplete="off" type="text" pInputText class="ui-inputtext ui-widget">
            </div>
        </div>
        <div class="formgrid grid">  
            <div class="field grid col-3">
                <label for="noofParkingBaysAllocated">Number of Packing Bays Allocated</label>
                <p-inputNumber [inputStyle]="{'width':'19.8rem'}" class="ui-inputtext ui-widget" [disabled]="isViewOnly"
                formControlName="noofParkingBaysAllocated" mode="currency" currency="ZAR" locale="en-ZA">
            </p-inputNumber>
            </div>
            <div class="field grid col-3">
                <label for="town">Lettable Space <br><small>(M²) 0000.00</small></label>
                <p-inputNumber [inputStyle]="{'width':'19.8rem'}" class="ui-inputtext ui-widget" [disabled]="isViewOnly"
                formControlName="lettableSpace" mode="currency" currency="ZAR" locale="en-ZA">
            </p-inputNumber>
            </div>           
            <div class="field grid col-3">
                <label for="extentofLand">Extent of Land <br><small>(HA) 0000.0000</small></label>
                <p-inputNumber [inputStyle]="{'width':'19.8rem'}" class="ui-inputtext ui-widget" [disabled]="isViewOnly"
                formControlName="extentofLand" mode="currency" currency="ZAR" locale="en-ZA">
            </p-inputNumber>
            </div>
            <div class="field grid col-3">
                <label for="rentalPM">Rental Rate/M2</label>
                <p-inputNumber [inputStyle]="{'width':'19.8rem'}" class="ui-inputtext ui-widget" [disabled]="isViewOnly"
                formControlName="rentalPM" mode="currency" currency="ZAR" locale="en-ZA">
            </p-inputNumber>
            </div>
        </div>
        <div class="formgrid grid">  
            <div class="field grid col-3 pr-4">
                <label for="leaseStartDate">Lease Start Date</label>
                <p-calendar class="ui-inputtext ui-widget w-full" [disabled]="isViewOnly" formControlName="leaseStartDate" 
                    dateFormat="dd/mm/yy" showOtherMonths="true" showButtonBar="true"></p-calendar>
            </div>
            <div class="field grid col-3 pr-4">
                <label for="leaseEndDate">Lease End Date</label>
                <p-calendar class="ui-inputtext ui-widget w-full" [disabled]="isViewOnly" formControlName="leaseEndDate" 
                    dateFormat="dd/mm/yy" showOtherMonths="true" showButtonBar="true"></p-calendar>
            </div>                      
            <div class="field grid col-3 ">
                <label for="accessibility">Accessibility</label>
                <p-dropdown [style]="{'width':'318px'}" class="ui-inputtext ui-widget" inputId="type" [disabled]="isViewOnly"
                [options]="types" placeholder="Please select" (onChange)="setType($event)"
                formControlName="accessibility" optionLabel="name"></p-dropdown> 
            </div>
            <div class="field grid col-3">
                <label for="conditionRating">Condition Rating</label>
                <p-dropdown [style]="{'width':'318px'}" class="ui-inputtext ui-widget" inputId="type" [disabled]="isViewOnly"
                [options]="types" placeholder="Please select" (onChange)="setType($event)"
                formControlName="conditionRating" optionLabel="name"></p-dropdown> 
            </div>
        </div>
        <div class="formgrid grid">             
            <div class="field grid col-3 pr-4">
                <label for="suitabilityIndex">Suitability Index</label>
                <p-dropdown [style]="{'width':'318px'}" class="ui-inputtext ui-widget" inputId="type" [disabled]="isViewOnly"
                [options]="types" placeholder="Please select" (onChange)="setType($event)"
                formControlName="suitabilityIndex" optionLabel="name"></p-dropdown>
            </div>           
            <div class="field grid col-3 pr-4">
                <label for="operatingPerformanceIndex">Operating Performance Index</label>
                <p-dropdown [style]="{'width':'318px'}" class="ui-inputtext ui-widget" inputId="type" [disabled]="isViewOnly"
                [options]="types" placeholder="Please select" (onChange)="setType($event)"
                formControlName="operatingPerformanceIndex" optionLabel="name"></p-dropdown> 
            </div>
            <div class="field grid col-3 pr-4">
                <label for="functionalPerformanceIndex">Functional Performance Index <br><small>according to formula</small> </label>
                <p-dropdown [style]="{'width':'318px'}" class="ui-inputtext ui-widget" inputId="type" [disabled]="isViewOnly"
                [options]="types" placeholder="Please select" (onChange)="setType($event)"
                formControlName="functionalPerformanceIndex" optionLabel="name"></p-dropdown> 
            </div>
            <div class="field grid col-3 pr-4">
                <label for="comment">Comment</label>
                <input formControlName="comment" autocomplete="off" type="text" pInputText class="ui-inputtext ui-widget">
            </div>
        </div>
        <div class="col-12 pr-5">
            <button *ngIf="!isEdit" pButton type="submit" icon="pi pi-plus" label="Add Property" (click)="addProperty()"
            style="float: right;width: fit-content;"></button>
            <button *ngIf="isEdit" pButton type="submit" icon="pi pi-pencil" label="Update Property" (click)="onUpdateProperty()"
            style="float: right;width: fit-content;"></button>
        </div>
    </form>
</div>

<div class="ui-g ui-fluid">
    <p-table styleClass="p-datatable-striped" [value]="properties" [responsive]="true">
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 120px;">Serial No.</th>
                <th style="width: 120px;">User Dept Code</th>
                <th style="width: 120px;">File Reference No.</th>
                <th style="width: 120px;">District</th>
                <th>Town</th>
                <th>Local Municipality</th>
                <th>Asset Description</th>
                <th>Old Street Address</th>
                <th>Current Street Address</th>
                <th>Property Description</th>
                <th style="width: 130px;">Asset Type</th>
                <th style="width: 100px;">No. OF Parking Bays Allocated</th>
                <th style="width: 100px;">Lettable Space<br> <small>(M²) 0000.00</small></th>
                <th style="width: 120px;">Extent of Land (HA) <br> <small>(M²) 0000.00</small></th>                
                <th>Rental PM</th>
                <th>Rental PA</th>
                <th>Operational Cost</th>
                <th>Lease Start Date</th>
                <th>Lease End Date</th>
                <th>Rental Rate/M2</th>
                <th style="width: 200px;">Required Performance Standard</th>
                <th style="width: 200px;">Accessibility</th>
                <th style="width: 200px;">Condition Rating</th>
                <th style="width: 200px;">Suitability Index</th>
                <th style="width: 200px;"> Operating Performance Index</th>
                <th style="width: 200px;">Functional Performance Index</th>
                <th>Lease Term</th>       
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-property let-rowIndex="rowIndex">
                <tr>
                    <td>{{property.serialNo}}</td>
                    <td>{{property.userDepartment}}</td>
                    <td>{{property.fileReference}}</td>
                    <td>{{property.localAuthority}}</td>
                    <td>{{property.town}}</td>
                    <td>{{property.localAuthority}}</td>
                    <td>{{property.assetDescription}}</td>
                    <td>{{property.currentStreetAddress}}</td>
                    <td>{{property.currentStreetAddress}}</td>                 
                    <td>{{property.propertyDescription}}</td>
                    <td>{{property.assetType}}</td>
                    <td>
                        <p-inputNumber [inputStyle]="{'width':'70px'}" [(ngModel)]="property.noofParkingBays" class="ui-inputtext ui-widget" [ngModelOptions]="{standalone: true}" ></p-inputNumber>                       
                    </td>
                    <td>
                        <p-inputNumber [inputStyle]="{'width':'68px'}" [(ngModel)]="property.lettableSpace" class="ui-inputtext ui-widget" [ngModelOptions]="{standalone: true}" mode="decimal"></p-inputNumber>
                    </td>
                    <td>{{property.extentofLand}}</td>
                    <td>
                        <p-inputNumber [inputStyle]="{'width':'120px'}" [(ngModel)]="property.rentalPM" class="ui-inputtext ui-widget" [ngModelOptions]="{standalone: true}" mode="currency" currency="ZAR" locale="en-ZA"></p-inputNumber>  
                     
                    </td>
                    <td>
                        <p-inputNumber [inputStyle]="{'width':'120px'}" [(ngModel)]="property.rentalPA" [ngModelOptions]="{standalone: true}" mode="currency" currency="ZAR" locale="en-ZA" class="ui-inputtext ui-widget"></p-inputNumber> 
                       
                    </td>
                    <td>
                        <p-inputNumber [inputStyle]="{'width':'120px'}" [(ngModel)]="property.operationalCosts" [ngModelOptions]="{standalone: true}" mode="currency" currency="ZAR" locale="en-ZA" class="ui-inputtext ui-widget"></p-inputNumber>                      
                        
                    </td>
                    <td>
                        <p-calendar [(ngModel)]="property.leaseStartDate" class="ui-inputtext ui-widget" [ngModelOptions]="{standalone: true}" dateFormat="dd/mm/yy"
                                showOtherMonths="true" showButtonBar="true"></p-calendar>
                      
                    </td>
                    <td>
                        <p-calendar [(ngModel)]="property.leaseEndDate" class="ui-inputtext ui-widget" [ngModelOptions]="{standalone: true}" dateFormat="dd/mm/yy"
                                showOtherMonths="true" showButtonBar="true"></p-calendar>                       
                    </td>
                    <td>
                        <p-inputNumber [inputStyle]="{'width':'120px'}" [(ngModel)]="property.operationalCosts" [ngModelOptions]="{standalone: true}" mode="currency" currency="ZAR" locale="en-ZA" class="ui-inputtext ui-widget"></p-inputNumber>                       
                    </td>
                    <td>                      
                        <p-dropdown class="ui-inputtext ui-widget" [style]="{'width':'180px'}" placeholder="Please select"
                            [(ngModel)]="property.requiredPerformanceStandardObj" [ngModelOptions]="{standalone: true}"
                            (onChange)="onRequiredPerformanceStandardChange(property, $event)"
                            [options]="requiredPerformanceStandards" optionLabel="name"></p-dropdown>
                        <!-- <div *ngIf="submitted && p.requiredPerfomanceStandard.errors" class="text-error"><br>
                            <div *ngIf="p.requiredPerfomanceStandard.errors.required">This field is required.</div>
                        </div>-->
                    </td>
                    <td>
                        <p-dropdown class="ui-inputtext ui-widget w-140" [style]="{'width':'180px'}" placeholder="Please select"
                            [(ngModel)]="property.accessibilityObj" [ngModelOptions]="{standalone: true}"
                            (onChange)="onAccessibilityChange(property, $event)" [options]="accessibilities" optionLabel="name">
                        </p-dropdown>
                        <!--<div *ngIf="submitted && p.accessibility.errors" class="text-error"><br>
                            <div *ngIf="p.accessibility.errors.required">This field is required.</div>
                        </div>-->
                    </td>
                    <td>
                        <p-dropdown class="ui-inputtext ui-widget w-140" [style]="{'width':'180px'}"
                            [(ngModel)]="property.conditionRatingObj" (onChange)="conditionRatingCahnged(property, $event)"
                            inputId="conditionRating" [options]="conditionRatings" placeholder="Please select"
                            [ngModelOptions]="{standalone: true}" optionLabel="name"></p-dropdown>
                        <!--<div *ngIf="submitted && p.conditionRatings.errors" class="text-error"><br>
                            <div *ngIf="p.conditionRatings.errors.required">This field is required.</div>
                        </div>-->
                    </td>
                    <td>
                        <p-dropdown class="ui-inputtext ui-widget w-140" [style]="{'width':'180px'}" placeholder="Please select"
                            [(ngModel)]="property.suitabilityIndexObj" [ngModelOptions]="{standalone: true}"
                            (onChange)="onSuitabilityIndexChange(property, $event)" [options]="suitabilityIndexs"
                            optionLabel="name"></p-dropdown>
                        <!--<div *ngIf="submitted && p.suitabilityIndex.errors" class="text-error"><br>
                            <div *ngIf="p.suitabilityIndex.errors.required">This field is required.</div>
                        </div>-->
                    </td>
                    <td>
                        <p-dropdown class="ui-inputtext ui-widget w-140" [style]="{'width':'180px'}" placeholder="Please select"
                            [(ngModel)]="property.operatingPerformanceIndexObj" [ngModelOptions]="{standalone: true}"
                            (onChange)="onOperatingPerformanceIndexChange(property, $event)"
                            [options]="operatingPerformanceIndexs" optionLabel="name"></p-dropdown>
                        <!--<div *ngIf="submitted && p.operationalPerformanceIndex.errors" class="text-error"><br>
                            <div *ngIf="p.operationalPerformanceIndex.errors.required">This field is required.</div>
                        </div>-->
                    </td>
                    <td>
                        <p-dropdown class="ui-inputtext ui-widget w-140" [style]="{'width':'180px'}" placeholder="Please select"
                            [(ngModel)]="property.functionalPerformanceIndexObj" [ngModelOptions]="{standalone: true}"
                            (onChange)="onFunctionalPerformanceChange(property, $event)" [options]="functionalPerformanceIndexs"
                            optionLabel="name"></p-dropdown>
                        <!-- <div *ngIf="submitted && p.functionalPerformanceIndex.errors" class="text-error"><br>
                            <div *ngIf="p.functionalPerformanceIndex.errors.required">This field is required.</div>
                        </div>-->
                    </td>
                    <td>
                        <input [(ngModel)]="property.leaseTerm" style="width: 130px;" [ngModelOptions]="{standalone: true}" autocomplete="off" type="text"
                            pInputText class="ui-inputtext ui-widget">
                       
                    </td>                
                </tr>
        </ng-template>
    </p-table>
</div>