<div class="header">
    <header>
        OPERATIONS PLAN: ASSETS LEASED OUT / INVESTMENT PURPOSES ASSETS																	
    </header>
    <small>NB: THIS TEMPLATE IS FOR COMPLETION BY CUSTODIANS ONLY AND THOSE USERS THAT HAVE BEEN GRANTED THE AUTHORITY TO LEASE OUT STATE OWNED ASSETS</small>
</div>
<br>

<div class="ui-g ui-fluid">
    <form [formGroup]="operationPlanForm">        
        <p-table [value]="tableRowArray.controls" [responsive]="true">
        <ng-template pTemplate="header">
            <tr>
                <th>District</th>               
                <th>Town</th>
                <th>Local Municipality</th>
                <th>Asset Description</th>
                <th>Street Description</th>
                <th>Property Description</th>
                <th>Lease Type</th>
                <th>No. of Parking Bays</th>
                <th>Usable Space<br><small>(M²) 0000.00</small></th>
                <th>Construction Area<br><small>(M²) 0000.00</small></th>
                <th>Extent of Land<br><small>(HA) 0000.0000</small></th>
                <th>Lease Start Date</th>
                <th>Lease Start End</th>
                <th>Rental PM/PA</th>
                <th>Comments</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
            <ng-container formArrayName="tableRowArray">
                <tr [formGroupName]="rowIndex" *ngFor="let property of properties; let i = index">
                    <td>{{property.land.geographicalLocation.districtMunicipality}}</td>
                    <td>{{property.land.geographicalLocation.town}}</td>
                    <td>{{property.land.geographicalLocation.localAuthority}}</td>
                    <td>{{property.name}}</td>
                    <td>{{property.land.geographicalLocation.streetName}}</td>
                    <td>{{property.name}}</td>
                    <td><input formControlName="leaseType" autocomplete="off" type="text" pInputText class="ui-inputtext ui-widget"></td>
                    <td><p-inputNumber formControlName="parkingBaysNo"></p-inputNumber></td>
                    <td><p-inputNumber formControlName="usableSpace"></p-inputNumber></td>
                    <td><p-inputNumber formControlName="constructionArea"></p-inputNumber></td>
                    <td>{{property.land.propertyDescription.extent}}</td>
                    <td><p-calendar formControlName="leaseStartDate" dateFormat="dd/mm/yy" showOtherMonths="true" showButtonBar="true"></p-calendar></td>
                    <td><p-calendar formControlName="leaseEndDate" dateFormat="dd/mm/yy" showOtherMonths="true" showButtonBar="true"></p-calendar></td>
                    <td><p-inputNumber formControlName="rentalPmPa" mode="currency" currency="ZAR" locale="en-ZA"></p-inputNumber></td>
                    <td><input formControlName="comment" autocomplete="off" type="text" pInputText class="ui-inputtext ui-widget"></td>
                </tr>
            </ng-container>
        </ng-template>
    </p-table>
</form>
</div>