<div class="header">
    <header>
        OPERATIONS PLAN: ASSETS LEASED OUT / INVESTMENT PURPOSES ASSETS																	
    </header>
    <small>NB: THIS TEMPLATE IS FOR COMPLETION BY CUSTODIANS ONLY AND THOSE USERS THAT HAVE BEEN GRANTED THE AUTHORITY TO LEASE OUT STATE OWNED ASSETS</small>
</div>
<br>

<div class="ui-g ui-fluid">  
    <p-table styleClass="p-datatable-striped" [value]="operationPlans" [responsive]="true">
        <ng-template pTemplate="header">
            <tr>
                <th>District</th>               
                <th>Town</th>
                <th>Local Municipality</th>
                <th>Asset Description</th>
                <th>Street Description</th>
                <th>Property Description</th>
                <th>Lease Type</th>
                <th>No. of Parking Bays</th>
                <th>Usable Space<br><small>(M²) 0000.00</small></th>
                <th>Construction Area<br><small>(M²) 0000.00</small></th>
                <th>Extent of Land<br><small>(HA) 0000.0000</small></th>
                <th>Lease Start Date</th>
                <th>Lease Start End</th>
                <th>Rental PM/PA</th>
                <th>Comments</th>
                <th>Leased</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-operationPlan let-rowIndex="rowIndex">
                <tr>
                    <td>{{operationPlan.districtRegion}}</td>
                    <td>{{operationPlan.town}}</td>
                    <td>{{operationPlan.localAuthority}}</td>
                    <td>{{operationPlan.assetDescription}}</td>
                    <td>{{operationPlan.streetDescription}}</td>
                    <td>{{operationPlan.repairDescription}}</td>
                    <td><p-dropdown [(ngModel)]="operationPlan.leaseType" class="ui-inputtext ui-widget" placeholder="Please select" [ngModelOptions]="{standalone: true}" (onChange)="onLeaseTypeChange(operationPlan, $event)" [options]="leaseTypes" optionLabel="name"></p-dropdown></td>
                    <td><p-inputNumber class="ui-inputtext ui-widget" [(ngModel)]="operationPlan.noofParkingBays" [ngModelOptions]="{standalone: true}"></p-inputNumber></td>
                    <td><p-inputNumber class="ui-inputtext ui-widget" [(ngModel)]="operationPlan.usableSpace" [ngModelOptions]="{standalone: true}"></p-inputNumber></td>
                    <td><p-inputNumber class="ui-inputtext ui-widget" [(ngModel)]="operationPlan.constructionArea" [ngModelOptions]="{standalone: true}"></p-inputNumber></td>
                    <td>{{operationPlan.extent}}</td>
                    <td><p-calendar class="ui-inputtext ui-widget" [(ngModel)]="operationPlan.leaseStartDate" [ngModelOptions]="{standalone: true}" dateFormat="dd/mm/yy" showOtherMonths="true" showButtonBar="true"></p-calendar></td>
                    <td><p-calendar class="ui-inputtext ui-widget" [(ngModel)]="operationPlan.leaseEndDate" [ngModelOptions]="{standalone: true}" dateFormat="dd/mm/yy" showOtherMonths="true" showButtonBar="true"></p-calendar></td>
                    <td><p-inputNumber class="ui-inputtext ui-widget" [(ngModel)]="operationPlan.rentalPmPa" [ngModelOptions]="{standalone: true}" mode="currency" currency="ZAR" locale="en-ZA"></p-inputNumber></td>
                    <td><input [(ngModel)]="operationPlan.comment" [ngModelOptions]="{standalone: true}" autocomplete="off" type="text" pInputText class="ui-inputtext ui-widget"></td>
                    <td> <p-inputSwitch [(ngModel)]="operationPlan.leased"></p-inputSwitch></td>
                </tr>
        </ng-template>
    </p-table>
</div>