<div class="header">
    <header>
        BUDGET FOR MTEF PERIOD [5 YEARS]
    </header>
</div>
<br>

<div class="ui-g ui-fluid">
    <form [formGroup]="budgetPeriodForm">
        <div class="formgrid grid">
            <div class="field col-6">
                <label for="group">Group</label>
                <p-dropdown (onChange)="showFields = true" [style]="{'width':'100%'}" class="ui-inputtext ui-widget" placeholder="Please select"
                    inputId="group" [options]="groups" formControlName="group" optionLabel="name"></p-dropdown>
            </div>
        </div>

        <p-fieldset legend="Add BUDGET FOR MTEF" [hidden]="!showFields" [toggleable]="true">
            <div class="formgrid grid">
            <div class="field col-6 mt-3">
                <label for="title">Title</label>
                <input formControlName="title" autocomplete="off" type="text" pInputText
                        class="ui-inputtext ui-widget w-full pr-3" >
            </div>
            <div class="col-6">
                <strong>MTEF Year 1</strong><br>
                <div class="formgrid grid">
                    <div class="field col-4">
                        <label for="year1Allocation" class="col-fixed">MTEF Allocation</label>
                        <p-inputNumber class="ui-inputtext ui-widget" formControlName="year1Allocation" mode="currency" currency="ZAR" locale="en-ZA"></p-inputNumber> 
                    </div>
                    <div class="field col-4">
                        <label for="year1RequiredBudget" class="col-fixed">Required Budget</label>
                        <p-inputNumber class="ui-inputtext ui-widget" formControlName="year1RequiredBudget" mode="currency" currency="ZAR" locale="en-ZA"></p-inputNumber>                         
                    </div>
                    <div class="field col-4">
                        <label for="year1Shortfall" class="col-fixed">Shortfall</label>
                        <p-inputNumber class="ui-inputtext ui-widget" formControlName="year1Shortfall" mode="currency" currency="ZAR" locale="en-ZA"></p-inputNumber> 
                    </div>
                </div>         
            </div>
        </div>
        <div class="formgrid grid">
            <div class="col-6">
                <strong>MTEF Year 2</strong><br>
                <div class="formgrid grid">
                    <div class="field col-4">
                        <label for="year2Allocation" class="col-fixed">MTEF Allocation</label>
                        <p-inputNumber class="ui-inputtext ui-widget" formControlName="year2Allocation" mode="currency" currency="ZAR" locale="en-ZA"></p-inputNumber> 
                    </div>
                    <div class="field col-4">
                        <label for="year2RequiredBudget" class="col-fixed">Required Budget</label>
                        <p-inputNumber class="ui-inputtext ui-widget" formControlName="year2RequiredBudget" mode="currency" currency="ZAR" locale="en-ZA"></p-inputNumber>                         
                    </div>
                    <div class="field col-4">
                        <label for="year2Shortfall" class="col-fixed">Shortfall</label>
                        <p-inputNumber class="ui-inputtext ui-widget" formControlName="year2Shortfall" mode="currency" currency="ZAR" locale="en-ZA"></p-inputNumber> 
                    </div>
                </div>              
            </div>
            <div class="col-6">
                <strong>MTEF Year 3</strong><br>
                <div class="formgrid grid">
                    <div class="field col-4">
                        <label for="year3Allocation" class="col-fixed">MTEF Allocation</label>
                        <p-inputNumber class="ui-inputtext ui-widget" formControlName="year3Allocation" mode="currency" currency="ZAR" locale="en-ZA"></p-inputNumber> 
                    </div>
                    <div class="field col-4">
                        <label for="year3RequiredBudget" class="col-fixed">Required Budget</label>
                        <p-inputNumber class="ui-inputtext ui-widget" formControlName="year3RequiredBudget" mode="currency" currency="ZAR" locale="en-ZA"></p-inputNumber>                         
                    </div>
                    <div class="field col-4">
                        <label for="year3Shortfall" class="col-fixed">Shortfall</label>
                        <p-inputNumber class="ui-inputtext ui-widget" formControlName="year3Shortfall" mode="currency" currency="ZAR" locale="en-ZA"></p-inputNumber> 
                    </div>
                </div>              
            </div>
                       
        </div>
        <div class="formgrid grid">
            <div class="col-6">
                <strong>MTEF Year 4</strong><br>
                <div class="formgrid grid">
                    <div class="field col-4">
                        <label for="year4Allocation" class="col-fixed">MTEF Allocation</label>
                        <p-inputNumber class="ui-inputtext ui-widget" formControlName="year4Allocation" mode="currency" currency="ZAR" locale="en-ZA"></p-inputNumber> 
                    </div>
                    <div class="field col-4">
                        <label for="year4RequiredBudget" class="col-fixed">Required Budget</label>
                        <p-inputNumber class="ui-inputtext ui-widget" formControlName="year4RequiredBudget" mode="currency" currency="ZAR" locale="en-ZA"></p-inputNumber>                         
                    </div>
                    <div class="field col-4">
                        <label for="year4Shortfall" class="col-fixed">Shortfall</label>
                        <p-inputNumber class="ui-inputtext ui-widget" formControlName="year4Shortfall" mode="currency" currency="ZAR" locale="en-ZA"></p-inputNumber> 
                    </div>
                </div>              
            </div>
            <div class="col-6">
                <strong>MTEF Year 5</strong><br>
                <div class="formgrid grid">
                    <div class="field col-4">
                        <label for="year5Allocation" class="col-fixed">MTEF Allocation</label>
                        <p-inputNumber class="ui-inputtext ui-widget" formControlName="year5Allocation" mode="currency" currency="ZAR" locale="en-ZA"></p-inputNumber> 
                    </div>
                    <div class="field col-4">
                        <label for="year5RequiredBudget" class="col-fixed">Required Budget</label>
                        <p-inputNumber class="ui-inputtext ui-widget" formControlName="year5RequiredBudget" mode="currency" currency="ZAR" locale="en-ZA"></p-inputNumber>                         
                    </div>
                    <div class="field col-4">
                        <label for="year5Shortfall" class="col-fixed">Shortfall</label>
                        <p-inputNumber class="ui-inputtext ui-widget" formControlName="year5Shortfall" mode="currency" currency="ZAR" locale="en-ZA"></p-inputNumber> 
                    </div>
                </div>              
            </div> 
        </div>
        <div class="col-12">
            <button *ngIf="!isEdit" pButton type="submit" icon="pi pi-plus" label="Add Budget for MTEF Period" (click)="addBudgetforMtefPeriod()"
            style="float: right;width: fit-content;height: fit-content"></button>
            <button *ngIf="isEdit" pButton type="submit" icon="pi pi-pencil" label="Update Budget for MTEF Period" (click)="updateBudgetforMtefPeriod()"
            style="float: right;width: fit-content;height: fit-content"></button>
        </div> 
        </p-fieldset>
    </form>
</div>

<div class="ui-g ui-fluid">
    <p-table styleClass="p-datatable-striped" responsiveLayout="stack" [paginator]="true" [rows]="5"
    [showCurrentPageReport]="true" responsiveLayout="scroll" [rowsPerPageOptions]="[5,10,15]" [value]="mtefBudgetPeriods"
    [responsive]="true" sortField="town" sortMode="single" (onSort)="onSort()">
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 230px;"></th>
                <th style="width: 250px;" colspan="3">MTEF YEAR 1</th>
                <th style="width: 250px;" colspan="3">MTEF YEAR 2</th>
                <th style="width: 250px;" colspan="3">MTEF YEAR 3</th>
                <th style="width: 250px;" colspan="3">MTEF YEAR 4</th>
                <th style="width: 250px;" colspan="3">MTEF YEAR 5</th>
            </tr>
            <tr>
                <th></th>
                <th style="width: 150px;">MTEF Allocation</th>
                <th style="width: 150px;">Required Budget</th>
                <th style="width: 150px;">Shortfall</th>
                <th style="width: 150px;">MTEF Allocation</th>
                <th style="width: 150px;">Required Budget</th>
                <th style="width: 150px;">Shortfall</th>
                <th style="width: 150px;">MTEF Allocation</th>
                <th style="width: 150px;">Required Budget</th>
                <th style="width: 150px;">Shortfall</th>
                <th style="width: 150px;">MTEF Allocation</th>
                <th style="width: 150px;">Required Budget</th>
                <th style="width: 150px;">Shortfall</th>
                <th style="width: 150px;">MTEF Allocation</th>
                <th style="width: 150px;">Required Budget</th>
                <th style="width: 150px;">Shortfall</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-mtefBudgetPeriod let-rowIndex="rowIndex">
            <tr class="ui-widget-header" *ngIf="rowGroupMetadata[mtefBudgetPeriod.group].index === rowIndex">
                <td colspan="20">
                    <span style="font-weight:bold">{{mtefBudgetPeriod.group}}</span>
                </td>
            </tr>
            <tr>
                <td>{{mtefBudgetPeriod.title}}</td>
                <td><p-inputNumber class="ui-inputtext ui-widget" [(ngModel)]="mtefBudgetPeriod.year1Allocation" [ngModelOptions]="{standalone: true}"></p-inputNumber></td>
                <td>{{mtefBudgetPeriod.year1RequiredBudget}}</td>
                <td>{{mtefBudgetPeriod.year1Shortfall}}</td>
                <td>{{mtefBudgetPeriod.year2Allocation}}</td>
                <td>{{mtefBudgetPeriod.year2RequiredBudget}}</td>
                <td>{{mtefBudgetPeriod.year2Shortfall}}</td>
                <td>{{mtefBudgetPeriod.year3Allocation}}</td>
                <td>{{mtefBudgetPeriod.year3RequiredBudget}}</td>
                <td>{{mtefBudgetPeriod.year3Shortfall}}</td>
                <td>{{mtefBudgetPeriod.year4Allocation}}</td>
                <td>{{mtefBudgetPeriod.year4RequiredBudget}}</td>
                <td>{{mtefBudgetPeriod.year4Shortfall}}</td>
                <td>{{mtefBudgetPeriod.year5Allocation}}</td>
                <td>{{mtefBudgetPeriod.year5RequiredBudget}}</td>
                <td>{{mtefBudgetPeriod.year5Shortfall}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>