<p-table [value]="[{}]">
    <ng-template pTemplate="header">
        <tr>
            <th>Programme</th>
            <th>Optimal Assets</th>
            <th>Gap between optimal assets and currently utilised assets</th>
            <th>Quantified need statement</th>
            <th>Priority</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData>
        <tr>
            <td>1. Administration</td>
            <td>Head office in Pretoria for 1000 people</td>
            <td>Additional office space for 100 people</td>
            <td>Locality: Gauteng; Pretoria</td>
            <td>1</td>
        </tr>
        <tr>
            <td></td>
            <td>Service delivery support office in each province</td>
            <td>Service delivery support office required in Western Cape for 150 people</td>
            <td>Locality: Cape Town; Western Cape</td>
            <td>1</td>
        </tr>
    </ng-template>
</p-table>