<div class="header">
    <header>
        SURRENDER PLAN: ACCOMMODATION/LAND IDENTIFIED TO BE RELINQUISHED TO THE CUSTODIAN																
    </header>
</div>
<br>

<div class="ui-g ui-fluid">
    <form [formGroup]="operationPlanForm">        
        <p-table [value]="tableRowArray.controls" [responsive]="true">
        <ng-template pTemplate="header">
            <tr>
                <th>District</th>               
                <th>Town</th>
                <th>Local Municipality</th>
                <th>Asset Type</th>
                <th>Current Street Address</th>
                <th>Property Description</th>
                <th>Allocated/ Lettable Space<br> <small>(M²) 0000.00</small></th>
                <th>Extent of Land<br> <small>(HA) 0000.0000</small></th>
                <th>Surrender Rationale</th>
                <th>Date of Proposed Hand-Over</th>
                <th>Contractual Obligations</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
            <ng-container formArrayName="tableRowArray">
                <tr [formGroupName]="rowIndex" *ngFor="let property of properties; let i = index">
                    <td>{{property.land.geographicalLocation.districtMunicipality}}</td>
                    <td>{{property.land.geographicalLocation.town}}</td>
                    <td>{{property.land.geographicalLocation.localAuthority}}</td>
                    <td>{{property.type}}</td>
                    <td><input formControlName="currentStreetAddress" autocomplete="off" type="text" pInputText class="ui-inputtext ui-widget"></td>
                    <td>{{property.name}}</td>
                    <td><p-inputNumber formControlName="allocatedSpace"></p-inputNumber></td>
                    <td>{{property.land.propertyDescription.extent}}</td>
                    <td><input formControlName="surrenderRationale" autocomplete="off" type="text" pInputText class="ui-inputtext ui-widget"></td>
                    <td><p-calendar formControlName="proposedHandOverDate" dateFormat="dd/mm/yy" showOtherMonths="true" showButtonBar="true"></p-calendar></td>
                    <td><input formControlName="contractualObligations" autocomplete="off" type="text" pInputText class="ui-inputtext ui-widget"></td>
                </tr>
            </ng-container>
        </ng-template>
    </p-table>
</form>
</div>