<p-tabView [(activeIndex)]="activeIndex">
    <p-header>
        <div style="text-align: center;">
            <p-button label="Start UAMP"></p-button> 
        </div>
    </p-header>
   
    
    <p-tabPanel header="Land">
        <p-fieldset legend="Geographical Location" [toggleable]="true">
            <div class="ui-g-12 ui-md-12">
                <div class="ui-g-4 ui-md-4">
                    <label for="province">Province</label>
                    <div>
                        {{selectedFacility.land.geographicalLocation.province}}
                    </div>
                </div>
                <div class="ui-g-4 ui-md-4">
                    <label for="districtMunicipality">District Municipality</label>
                    <div>
                        {{selectedFacility.land.geographicalLocation.districtMuniciplaity}}
                    </div>
                </div>
                <div class="ui-g-4 ui-md-4">
                    <label for="region">Region</label>
                    <div>
                        {{selectedFacility.land.geographicalLocation.region}}
                    </div>
                </div>
            </div>
            <div class="ui-g-12 ui-md-12">
                <div class="ui-g-4 ui-md-4">
                    <label for="province">Local Authority</label>
                    <div>
                        {{selectedFacility.land.geographicalLocation.localAuthority}}
                    </div>
                </div>
                <div class="ui-g-4 ui-md-4">
                    <label for="districtMunicipality">Magisterial District</label>
                    <div>
                        {{selectedFacility.land.geographicalLocation.magisterialDistrict}}
                    </div>
                </div>
                <div class="ui-g-4 ui-md-4">
                    <label for="region">Street Number</label>
                    <div>
                        {{selectedFacility.land.geographicalLocation.streetNumber}}
                    </div>
                </div>
            </div>
            <div class="ui-g-12 ui-md-12">
                <div class="ui-g-4 ui-md-4">
                    <label for="province">Street Name</label>
                    <div>
                        {{selectedFacility.land.geographicalLocation.streetName}}
                    </div>
                </div>
                <div class="ui-g-4 ui-md-4">
                    <label for="districtMunicipality">Surburb</label>
                    <div>
                        {{selectedFacility.land.geographicalLocation.suburb}}
                    </div>
                </div>
                <div class="ui-g-4 ui-md-4">
                    <label for="region">Town</label>
                    <div>
                        {{selectedFacility.land.geographicalLocation.town}}
                    </div>
                </div>
            </div>
            <div class="ui-g-12 ui-md-12">
                <div class="ui-g-4 ui-md-4">
                    <label for="province">GPS Coordinates Longitude</label>
                    <div>
                        {{selectedFacility.land.geographicalLocation.longitude}}
                    </div>
                </div>
                <div class="ui-g-4 ui-md-4">
                    <label for="districtMunicipality">GPS Coordinates Latitude</label>
                    <div>
                        {{selectedFacility.land.geographicalLocation.latitude}}
                    </div>
                </div>
                <div class="ui-g-4 ui-md-4">
                </div>
            </div>
        </p-fieldset>
        <p-fieldset legend="Property Description" [toggleable]="true">
            <div class="ui-g-12 ui-md-12">
                <div class="ui-g-4 ui-md-4">
                    <label for="province">Registration Division</label>
                    <div>
                        {{selectedFacility.land.propertyDescription.registrationDivision}}
                    </div>
                </div>
                <div class="ui-g-4 ui-md-4">
                    <label for="districtMunicipality">Township Name</label>
                    <div>
                        {{selectedFacility.land.propertyDescription.townshipName}}
                    </div>
                </div>
                <div class="ui-g-4 ui-md-4">
                    <label for="region">Land Parcel</label>
                    <div>
                        {{selectedFacility.land.propertyDescription.landParcel}}
                    </div>
                </div>
            </div>
            <div class="ui-g-12 ui-md-12">
                <div class="ui-g-4 ui-md-4">
                    <label for="province">Land Portion</label>
                    <div>
                        {{selectedFacility.land.propertyDescription.landPortion}}
                    </div>
                </div>
                <div class="ui-g-4 ui-md-4">
                    <label for="districtMunicipality">Old Description</label>
                    <div>
                        {{selectedFacility.land.propertyDescription.oldDescription}}
                    </div>
                </div>
                <div class="ui-g-4 ui-md-4">
                    <label for="region">Land Remainder</label>
                    <div>
                        {{selectedFacility.land.propertyDescription.landRemainder}}
                    </div>
                </div>
            </div>
            <div class="ui-g-12 ui-md-12">
                <div class="ui-g-4 ui-md-4">
                    <label for="province">Farm Name</label>
                    <div>
                        {{selectedFacility.land.propertyDescription.farmName}}
                    </div>
                </div>
                <div class="ui-g-4 ui-md-4">
                    <label for="districtMunicipality">SG Diagram Number</label>
                    <div>
                        {{selectedFacility.land.propertyDescription.sgDiagramNumber}}
                    </div>
                </div>
                <div class="ui-g-4 ui-md-4">
                    <label for="region">Extent</label>
                    <div>
                        {{selectedFacility.land.propertyDescription.extent}}
                    </div>
                </div>
            </div>
            <div class="ui-g-12 ui-md-12">
                <div class="ui-g-4 ui-md-4">
                    <label for="province">LPI Code</label>
                    <div>
                        {{selectedFacility.land.propertyDescription.lpiCode}}
                    </div>
                </div>
                <div class="ui-g-4 ui-md-4">
                    <label for="districtMunicipality">How Acquired</label>
                    <div>
                        {{selectedFacility.land.propertyDescription.acquired}}
                    </div>
                </div>
                <div class="ui-g-4 ui-md-4">
                </div>
            </div>
        </p-fieldset>
        <p-fieldset legend="Land Use & Management Details" [toggleable]="true">
            <div class="ui-g-12 ui-md-12">
                <div class="ui-g-4 ui-md-4">
                    <label for="province">Title Deed Number</label>
                    <div>
                        {{selectedFacility.land.landUseManagementDetail.titleDeedNumber}}
                    </div>
                </div>
                <div class="ui-g-4 ui-md-4">
                    <label for="districtMunicipality">Registration Date</label>
                    <div>
                        {{selectedFacility.land.landUseManagementDetail.registrationDate}}
                    </div>
                </div>
                <div class="ui-g-4 ui-md-4">
                    <label for="region">Registered Owner</label>
                    <div>
                        {{selectedFacility.land.landUseManagementDetail.registeredOwner}}
                    </div>
                </div>
            </div>
            <div class="ui-g-12 ui-md-12">
                <div class="ui-g-4 ui-md-4">
                    <label for="province">Vesting Date</label>
                    <div>
                        {{selectedFacility.land.landUseManagementDetail.vestingDate}}
                    </div>
                </div>
                <div class="ui-g-4 ui-md-4">
                    <label for="districtMunicipality">Conditions of Title</label>
                    <div>
                        {{selectedFacility.land.landUseManagementDetail.ownershipCategory}}
                    </div>
                </div>
                <div class="ui-g-4 ui-md-4">
                    <label for="region">Ownership Category</label>
                    <div>
                        {{selectedFacility.land.landUseManagementDetail.landRemainder}}
                    </div>
                </div>
            </div>
            <div class="ui-g-12 ui-md-12">
                <div class="ui-g-4 ui-md-4">
                    <label for="province">State Owned Percentage</label>
                    <div>
                        {{selectedFacility.land.landUseManagementDetail.stateOwnedPercentage}}
                    </div>
                </div>
                <div class="ui-g-4 ui-md-4">
                    <label for="districtMunicipality">Land Use Percentage</label>
                    <div>
                        {{selectedFacility.land.landUseManagementDetail.landUse}}
                    </div>
                </div>
                <div class="ui-g-4 ui-md-4">
                    <label for="region">Zoning</label>
                    <div>
                        {{selectedFacility.land.landUseManagementDetail.zoning}}
                    </div>
                </div>
            </div>
            <div class="ui-g-12 ui-md-12">
                <div class="ui-g-4 ui-md-4">
                    <label for="province">User Department</label>
                    <div>
                        {{selectedFacility.land.landUseManagementDetail.userDepartment}}
                    </div>
                </div>
                <div class="ui-g-4 ui-md-4">
                    <label for="districtMunicipality">Facility Name</label>
                    <div>
                        {{selectedFacility.land.landUseManagementDetail.facilityName}}
                    </div>
                </div>
                <div class="ui-g-4 ui-md-4">
                    <label for="districtMunicipality">Income Lease Status</label>
                    <div>
                        {{selectedFacility.land.landUseManagementDetail.incomeLeaseStatus}}
                    </div>
                </div>
            </div>
        </p-fieldset>
        <p-fieldset legend="Lease Status" [toggleable]="true">
            <div class="ui-g-12 ui-md-12">
                <div class="ui-g-4 ui-md-4">
                    <label for="province">Nature of Lease</label>
                    <div>
                        {{selectedFacility.land.leaseStatus.natureOfLease}}
                    </div>
                </div>
                <div class="ui-g-4 ui-md-4">
                    <label for="districtMunicipality">ID Number/Company Registration Number</label>
                    <div>
                        {{selectedFacility.land.leaseStatus.idNumberCompanyRegistrationNumber}}
                    </div>
                </div>
                <div class="ui-g-4 ui-md-4">
                    <label for="region">P.O Box</label>
                    <div>
                        {{selectedFacility.land.leaseStatus.poBox}}
                    </div>
                </div>
            </div>
            <div class="ui-g-12 ui-md-12">
                <div class="ui-g-4 ui-md-4">
                    <label for="province">Town</label>
                    <div>
                        {{selectedFacility.land.leaseStatus.leaseStatusTown}}
                    </div>
                </div>
                <div class="ui-g-4 ui-md-4">
                    <label for="districtMunicipality">Postal Code</label>
                    <div>
                        {{selectedFacility.land.leaseStatus.postalCode}}
                    </div>
                </div>
                <div class="ui-g-4 ui-md-4">
                    <label for="region">Contact Person</label>
                    <div>
                        {{selectedFacility.land.leaseStatus.contactPerson}}
                    </div>
                </div>
            </div>
            <div class="ui-g-12 ui-md-12">
                <div class="ui-g-4 ui-md-4">
                    <label for="province">Capacity of Contact Person</label>
                    <div>
                        {{selectedFacility.land.leaseStatus.capacityofContactPerson}}
                    </div>
                </div>
                <div class="ui-g-4 ui-md-4">
                    <label for="districtMunicipality">Contact Number</label>
                    <div>
                        {{selectedFacility.land.leaseStatus.contactNumber}}
                    </div>
                </div>
                <div class="ui-g-4 ui-md-4">
                    <label for="region">Escalation %</label>
                    <div>
                        {{selectedFacility.land.leaseStatus.escalation}}
                    </div>
                </div>
            </div>
            <div class="ui-g-12 ui-md-12">
                <div class="ui-g-4 ui-md-4">
                    <label for="province">Occupation Date</label>
                    <div>
                        {{selectedFacility.land.leaseStatus.occupationDate}}
                    </div>
                </div>
                <div class="ui-g-4 ui-md-4">
                    <label for="districtMunicipality">Starting Date</label>
                    <div>
                        {{selectedFacility.land.leaseStatus.startingDate}}
                    </div>
                </div>
                <div class="ui-g-4 ui-md-4">
                    <label for="districtMunicipality">Termination Date</label>
                    <div>
                        {{selectedFacility.land.leaseStatus.terminationDate}}
                    </div>
                </div>
            </div>
            <div class="ui-g-12 ui-md-12">
                <div class="ui-g-4 ui-md-4">
                    <label for="province">Rental Amount</label>
                    <div>
                        {{selectedFacility.land.leaseStatus.rentalAmount}}
                    </div>
                </div>
                <div class="ui-g-4 ui-md-4">
                    <label for="districtMunicipality">Other Charges</label>
                    <div>
                        {{selectedFacility.land.leaseStatus.otherCharges}}
                    </div>
                </div>
                <div class="ui-g-4 ui-md-4">
                    <label for="districtMunicipality">Lease Number</label>
                    <div>
                        {{selectedFacility.land.leaseStatus.leaseNumber}}
                    </div>
                </div>
            </div>
        </p-fieldset>
    </p-tabPanel>
    <p-tabPanel header="Finance">
        <p-fieldset legend="General" [toggleable]="true">
            <div class="ui-g-12 ui-md-12">
                <div class="ui-g-4 ui-md-4">
                    <label for="province">Land Use Class</label>
                    <div>
                        {{selectedFacility.finance.landUseClass}}
                    </div>
                </div>
                <div class="ui-g-4 ui-md-4">
                    <label for="districtMunicipality">Nature of Assest</label>
                    <div>
                        {{selectedFacility.finance.natureofAsset}}
                    </div>
                </div>
                <div class="ui-g-4 ui-md-4">
                </div>
            </div>
        </p-fieldset>
        <p-fieldset legend="Secondary Information Note" [toggleable]="true">
            <div class="ui-g-12 ui-md-12">
                <div class="ui-g-4 ui-md-4">
                    <label for="province">Additions Cash</label>
                    <div>
                        {{selectedFacility.finance.secondaryInformationNote.additionCash}}
                    </div>
                </div>
                <div class="ui-g-4 ui-md-4">
                    <label for="districtMunicipality">Additions Non Cash</label>
                    <div>
                        {{selectedFacility.finance.secondaryInformationNote.additionNonCash}}
                    </div>
                </div>
                <div class="ui-g-4 ui-md-4">
                    <label for="districtMunicipality">Additions</label>
                    <div>
                        {{selectedFacility.finance.secondaryInformationNote.addition}}
                    </div>
                </div>
            </div>
            <div class="ui-g-12 ui-md-12">
                <div class="ui-g-4 ui-md-4">
                    <label for="province">Disposal</label>
                    <div>
                        {{selectedFacility.finance.secondaryInformationNote.disposal}}
                    </div>
                </div>
                <div class="ui-g-4 ui-md-4">
                    <label for="districtMunicipality">Closing Balance</label>
                    <div>
                        {{selectedFacility.finance.secondaryInformationNote.additionNonCash}}
                    </div>
                </div>
                <div class="ui-g-4 ui-md-4">
                </div>
            </div>
        </p-fieldset>
        <p-fieldset legend="Valuations" [toggleable]="true">
            <div class="ui-g-12 ui-md-12">
                <div class="ui-g-4 ui-md-4">
                    <label for="province">Municipal Valuations</label>
                    <div>
                        {{selectedFacility.finance.valuation.municipalValuation}}
                    </div>
                </div>
                <div class="ui-g-4 ui-md-4">
                    <label for="districtMunicipality">Date of Municipal Valuation</label>
                    <div>
                        {{selectedFacility.finance.valuation.municipalValuationDate}}
                    </div>
                </div>
                <div class="ui-g-4 ui-md-4">
                    <label for="districtMunicipality">Non Municipal Valuation</label>
                    <div>
                        {{selectedFacility.finance.valuation.nonMunicipalValuation}}
                    </div>
                </div>
            </div>
            <div class="ui-g-12 ui-md-12">
                <div class="ui-g-4 ui-md-4">
                    <label for="province">Value</label>
                    <div>
                        {{selectedFacility.finance.valuation.value}}
                    </div>
                </div>
                <div class="ui-g-4 ui-md-4">
                    <label for="districtMunicipality">Date of Non Municipal Valuation</label>
                    <div>
                        {{selectedFacility.finance.valuation.nonMunicipalValuationDate}}
                    </div>
                </div>
                <div class="ui-g-4 ui-md-4">
                    <label for="districtMunicipality">Property Rates Account No</label>
                    <div>
                        {{selectedFacility.finance.valuation.propetyRatesAccount}}
                    </div>
                </div>
            </div>
            <div class="ui-g-12 ui-md-12">
                <div class="ui-g-4 ui-md-4">
                    <label for="province">Account no for Services</label>
                    <div>
                        {{selectedFacility.finance.valuation.accountNoForService}}
                    </div>
                </div>
                <div class="ui-g-4 ui-md-4">
                    <label for="districtMunicipality">Person/Institution responsible for account</label>
                    <div>
                        {{selectedFacility.finance.valuation.personInstitutionResposible}}
                    </div>
                </div>
                <div class="ui-g-4 ui-md-4">
                </div>
            </div>
        </p-fieldset>
    </p-tabPanel>
    <p-tabPanel header="Improvement">
        <p-fieldset legend="General" [toggleable]="true">
            <div class="ui-g-12 ui-md-12">
                <div class="ui-g-4 ui-md-4">
                    <label for="province">Building Name</label>
                    <div>
                        {{selectedFacility.improvements.buildingName}}
                    </div>
                </div>
                <div class="ui-g-4 ui-md-4">
                    <label for="districtMunicipality">Type</label>
                    <div>
                        {{selectedFacility.improvements.type}}
                    </div>
                </div>
                <div class="ui-g-4 ui-md-4">
                    <label for="districtMunicipality">Size (m2)</label>
                    <div>
                        {{selectedFacility.improvements.size}}
                    </div>
                </div>
            </div>
            <div class="ui-g-12 ui-md-12">
                <div class="ui-g-4 ui-md-4">
                    <label for="province">Potential Use</label>
                    <div>
                        {{selectedFacility.improvements.potentialUse}}
                    </div>
                </div>
                <div class="ui-g-4 ui-md-4">
                    <label for="districtMunicipality">Site Coverage %</label>
                    <div>
                        {{selectedFacility.improvements.siteCoverag}}
                    </div>
                </div>
                <div class="ui-g-4 ui-md-4">
                    <label for="districtMunicipality">Level of Utilization %</label>
                    <div>
                        {{selectedFacility.improvements.levelofUtilization}}
                    </div>
                </div>
            </div>
            <div class="ui-g-12 ui-md-12">
                <div class="ui-g-4 ui-md-4">
                    <label for="province">Extent of Building (m2)</label>
                    <div>
                        {{selectedFacility.improvements.extentOfBuilding}}
                    </div>
                </div>
                <div class="ui-g-4 ui-md-4">
                    <label for="districtMunicipality">Condition Rating</label>
                    <div>
                        {{selectedFacility.improvements.conditionRating}}
                    </div>
                </div>
                <div class="ui-g-4 ui-md-4">
                    <label for="districtMunicipality">Usable area (m2)</label>
                    <div>
                        {{selectedFacility.improvements.usableArea}}
                    </div>
                </div>
            </div>
            <div class="ui-g-12 ui-md-12">
                <div class="ui-g-4 ui-md-4">
                    <label for="province">Functional Performance Rating</label>
                    <div>
                        {{selectedFacility.improvements.functionalPerformanceRating}}
                    </div>
                </div>
                <div class="ui-g-4 ui-md-4">
                    <label for="districtMunicipality">Comments</label>
                    <div>
                        {{selectedFacility.improvements.comment}}
                    </div>
                </div>
                <div class="ui-g-4 ui-md-4">
                </div>
            </div>
        </p-fieldset>
    </p-tabPanel>
</p-tabView>
