<p-toast [style]="{marginTop: '90px'}" position="top-right"></p-toast>
<div>
    <div>Summary:</div>
    <textarea [cols]="180" pInputTextarea></textarea>
</div>
  <p-table [value]="[{}]">
    <ng-template pTemplate="header">
        <tr>
            <th>Programme</th>
            <th>Planned outputs</th>
            <th>Required service level</th>
            <th>Possible non-asset solutions</th>
            <th>Optimal asset solution</th>
            <th>Motivation</th>
            <th>Rationale for chosen solution</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData>
        <tr *ngFor="let programme of programmes">
            <td><textarea [(ngModel)]="programme.name" [rows]="6" pInputTextarea placeholder="e.g Administration"></textarea></td>
            <td><textarea [(ngModel)]="programme.plannedOutputs" [rows]="5" pInputTextarea></textarea></td>
            <td><textarea [(ngModel)]="programme.requiredServiceLevel" [rows]="6" pInputTextarea></textarea></td>
            <td><textarea [(ngModel)]="programme.possibleNonAssetSolutions" [rows]="6" pInputTextarea placeholder="e.g Service delivery node within 30 min per taxi"></textarea></td>
            <td><textarea [(ngModel)]="programme.optimalAssetSolutions" [rows]="6" pInputTextarea placeholder="e.g Head office in Pretoria for 1000 people"></textarea></td>
            <td><textarea [(ngModel)]="programme.motivation" [rows]="6" pInputTextarea placeholder="e.g Staff complement of head office will increase from 900 to 1000"></textarea></td>
            <td><textarea [(ngModel)]="programme.rationaleForChosenSolution" [rows]="6" pInputTextarea></textarea></td>
        </tr>
    </ng-template>
</p-table>

<div>
    <button pButton type="button" label="Save Programmes" (click)="saveProgrammes()" style="float: right;margin-top: 10px;"></button>
    <button pButton type="button" label="Add Programme" (click)="addProgram()" style="float: right;margin-right: 10px;margin-top: 10px;"></button>
</div>
